<!DOCTYPE html>
<html>
  <head>
    
  </head>

  <body>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
  <link rel="stylesheet" media="screen" type="text/css" href="/colorpicker/css/colorpicker.css" />
  <script type="text/javascript" src="/colorpicker/js/colorpicker.js"></script>
    <!-- Include the view file for the current controller/route -->
    <%- body %>
  </body>
</html>