
<div class="content">
    <div id="inventar"> 
        <div id='basket'><img src="/images/basket.png"></div>
        <div id='howmany'></div>
    </div>
    <div id="text" class="center">text1</div>
    <form class="FirstForm"></form>
    <div class="buttons center">
        <div class="mainButton center">
            <div id="butGather">Осмотреться вокруг</div>
        </div>
    </div>
</div>

