
<div class="content">
    <div id="text" class="center">
        <span id="text1">
            Земную жизнь пройдя до половины,
            Я очутился в сумрачном лесу,
        </span>
        <span id="text2" class="hide">
            Не помню сам, как я вошел туда,
            Настолько сон меня опутал ложью,
            Когда я сбился с верного следа.
        </span>
        <span id="text3" class="hide">
            От голода рыча освирепело
            И самый воздух страхом цепеня.
        </span>
        <span id="text4" class="hide">
            "Спаси, — воззвал я голосом унылым, —
            Будь призрак ты, будь человек живой!"
        </span>
        <span id="text5" class="hide">text</span>
        <span id="text6" class="hide">text</span>
        <span id="text7" class="hide">text</span>
        <span id="text8" class="hide">text</span>
        <span id="text9" class="hide">text</span>
        <span id="text10" class="hide">text</span>
    </div>
    <form class="FirstForm">
        <select id="hours">
            <option  value="0.5">0.5 часов</option>
            <option  value="1">1 час</option>
            <option  value="1.5">1.5 часа</option>
            <option  value="2">2 часа</option>
        </select>
    </form>
    <div class="buttons center">
        <div id="butLook" class="button center">Осмотреться вокруг</div>
        <div id="butGather" class="button center hide">Собирать грибы</div>
        <div id="progress" class="progress center hide"></div>
        <div id="eat_hire" class="center hide">
            <div id="butEat" class="button inline">Попробовать гриб</div>
            <div id="butLure" class="button inline">Приманить белку</div>
            <div id="butHire" class="button hide">Нанять белку</div>
        </div>
        
    </div> 
</div>




<div id="inventar"> 
    <div id='basket'>
        <span id="howmany"></span>
    </div>
</div>

