  <!-- div#SetCard(ul#good_cards.TypeStyle>li#good_card$.hide.cardStyle*20)+(ul#bad_cards.TypeStyle>li#bad_card$.hide.cardStyle*20)+(ul#gluck_cards.TypeStyle>li#gluck_card$.hide.cardStyle*20)+(ul#goldcards.TypeStyle>li#gold_card$.hide.cardStyle*20) -->
<div id="MiniCards">
  <div id="TitleType">
    <div id="TitleGood" class="title">
      <img src="/images/good.png" alt="d"> 
    </div>
    <div id="TitleBad" class="title">
      <img src="/images/bad.png" alt="d"> 
    </div>
    <div id="TitleGluck" class="title">
      <img src="/images/gluck.png" alt="d"> 
    </div>
    <div id="TitleGold" class="title">
      <img src="/images/gold.png" alt="d"> 
    </div>
  </div>
  <div id="SetCard">
     <ul id="good_cards" class="TypeStyle currentType Good">
       <li id="Belyy_grib_obyknovennyy" class="hide cardStyle" title=""></li>
       <li id="Maslenok_zheltyy" class="hide cardStyle" title=""></li>
       <li id="good_card3" class="hide cardStyle" title="а"></li>
       <li id="good_card4" class="hide cardStyle"></li>
       <li id="good_card5" class="hide cardStyle"></li>
       <li id="good_card6" class="hide cardStyle"></li>
       <li id="good_card7" class="hide cardStyle"></li>
       <li id="good_card8" class="hide cardStyle"></li>
       <li id="good_card9" class="hide cardStyle"></li>
       <li id="good_card10" class="hide cardStyle"></li>
       <li id="good_card11" class="hide cardStyle"></li>
       <li id="good_card12" class="hide cardStyle"></li>
       <li id="good_card13" class="hide cardStyle"></li>
       <li id="good_card14" class="hide cardStyle"></li>
       <li id="good_card15" class="hide cardStyle"></li>
       <li id="good_card16" class="hide cardStyle"></li>
       <li id="good_card17" class="hide cardStyle"></li>
       <li id="good_card18" class="hide cardStyle"></li>
       <li id="good_card19" class="hide cardStyle"></li>
       <li id="good_card20" class="hide cardStyle"></li>
     </ul>
     <ul id="bad_cards" class="TypeStyle Bad">
       <li id="Galerina_mokhovaya" class="hide cardStyle" title=""></li>
       <li id="bad_card2" class="hide cardStyle"></li>
       <li id="bad_card3" class="hide cardStyle"></li>
       <li id="bad_card4" class="hide cardStyle"></li>
       <li id="bad_card5" class="hide cardStyle"></li>
       <li id="bad_card6" class="hide cardStyle"></li>
       <li id="bad_card7" class="hide cardStyle"></li>
       <li id="bad_card8" class="hide cardStyle"></li>
       <li id="bad_card9" class="hide cardStyle"></li>
       <li id="bad_card10" class="hide cardStyle"></li>
       <li id="bad_card11" class="hide cardStyle"></li>
       <li id="bad_card12" class="hide cardStyle"></li>
       <li id="bad_card13" class="hide cardStyle"></li>
       <li id="bad_card14" class="hide cardStyle"></li>
       <li id="bad_card15" class="hide cardStyle"></li>
       <li id="bad_card16" class="hide cardStyle"></li>
       <li id="bad_card17" class="hide cardStyle"></li>
       <li id="bad_card18" class="hide cardStyle"></li>
       <li id="bad_card19" class="hide cardStyle"></li>
       <li id="bad_card20" class="hide cardStyle"></li>
     </ul>
     <ul id="gluck_cards" class="TypeStyle Gluck">
       <li id="Kolokolnyy_zasranets" class="hide cardStyle" title=""></li>
       <li id="gluck_card2" class="hide cardStyle"></li>
       <li id="gluck_card3" class="hide cardStyle"></li>
       <li id="gluck_card4" class="hide cardStyle"></li>
       <li id="gluck_card5" class="hide cardStyle"></li>
       <li id="gluck_card6" class="hide cardStyle"></li>
       <li id="gluck_card7" class="hide cardStyle"></li>
       <li id="gluck_card8" class="hide cardStyle"></li>
       <li id="gluck_card9" class="hide cardStyle"></li>
       <li id="gluck_card10" class="hide cardStyle"></li>
       <li id="gluck_card11" class="hide cardStyle"></li>
       <li id="gluck_card12" class="hide cardStyle"></li>
       <li id="gluck_card13" class="hide cardStyle"></li>
       <li id="gluck_card14" class="hide cardStyle"></li>
       <li id="gluck_card15" class="hide cardStyle"></li>
       <li id="gluck_card16" class="hide cardStyle"></li>
       <li id="gluck_card17" class="hide cardStyle"></li>
       <li id="gluck_card18" class="hide cardStyle"></li>
       <li id="gluck_card19" class="hide cardStyle"></li>
       <li id="gluck_card20" class="hide cardStyle"></li>
     </ul>
     <ul id="gold_cards" class="TypeStyle Gold">
       <li id="gold_card1" class="hide cardStyle"></li>
       <li id="gold_card2" class="hide cardStyle"></li>
       <li id="gold_card3" class="hide cardStyle"></li>
       <li id="gold_card4" class="hide cardStyle"></li>
       <li id="gold_card5" class="hide cardStyle"></li>
       <li id="gold_card6" class="hide cardStyle"></li>
       <li id="gold_card7" class="hide cardStyle"></li>
       <li id="gold_card8" class="hide cardStyle"></li>
       <li id="gold_card9" class="hide cardStyle"></li>
       <li id="gold_card10" class="hide cardStyle"></li>
       <li id="gold_card11" class="hide cardStyle"></li>
       <li id="gold_card12" class="hide cardStyle"></li>
       <li id="gold_card13" class="hide cardStyle"></li>
       <li id="gold_card14" class="hide cardStyle"></li>
       <li id="gold_card15" class="hide cardStyle"></li>
       <li id="gold_card16" class="hide cardStyle"></li>
       <li id="gold_card17" class="hide cardStyle"></li>
       <li id="gold_card18" class="hide cardStyle"></li>
       <li id="gold_card19" class="hide cardStyle"></li>
       <li id="gold_card20" class="hide cardStyle"></li>
     </ul>
  </div>
  <div id="closemini" class="closeAddWindow">Х</div>
</div>
  

<script>
  var typeMush = [
     {
      title:  $('#TitleGood'),
      ul: $('#good_cards')
    },
     {
      title:  $('#TitleBad'),
      ul: $('#bad_cards')
    },
     {
      title:  $('#TitleGluck'),
      ul: $('#gluck_cards')
    },
   {
      title:  $('#TitleGold'),
      ul: $('#gold_cards')
    }
  ]

  var OpenTypeLayer = function(){
    $('.title').on('click',function(){
      var group = $('#'+this.id+'')
      for(i=0;i<typeMush.length;i++){
        typeMush[i].ul.removeClass('currentType')
        if(typeMush[i].title[0]==group[0]){
          typeMush[i].ul.addClass('currentType')
        }
      }
    });
  }
  OpenTypeLayer();

  var BigCard = function(){
    $('.cardStyle').on('click',function(){
      var thisCard = this.id
      for (var i = 0; i < parameters.SetShrooms.length; i++)
      for (var q = 0; q < parameters.SetShrooms[i].length; q++){
        if (parameters.SetShrooms[i][q].recognition == thisCard){
          $.ajax({
              url: '/shroom/' + parameters.SetShrooms[i][q].id,
              dataType: 'html',
              success: function(data) {
                  parameters.interface.forms.bigcards.show();
                  parameters.interface.forms.bigcards.append(data);
              }
          })
        break
        }
      } 
    });
  }
  BigCard();
  </script>
