

<div id="gameMap">
  <svg version="1.1" id="fullMap" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 553 472" enable-background="new 0 0 553 472" xml:space="preserve">
    <g id="bigStroke">
      <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M546.35,307c-0.875-22.316-8.848-42.37-22.12-60.317
        c-6.905-9.337-15.22-18.334-22.081-28.034c-2.715-3.835-5.2-7.78-7.283-11.898c-3.754-7.423-6.582-15.5-10.918-22.622
        c-3.271-5.371-8.462-10.238-13.107-14.428c-9.913-8.938-20.303-17.938-31.394-25.365c-6.106-4.089-12.264-9.159-17.815-13.989
        c-4.696-4.085-9.249-8.982-12.475-14.332c-2.94-4.877-5.74-10.802-5.84-16.543c-0.113-6.464,1.236-12.804,1.36-19.251
        c0.154-7.968,0.842-16.373-1.853-23.975c-2.63-7.421-6.67-13.154-12.485-18.456c-4.961-4.523-10.683-8.785-16.607-11.974
        c-4.108-2.212-9.933-1.709-14.577-2.29c-4.948-0.619-10.139-1.106-14.952-0.342c-5.844,0.928-11.586,2.682-17.364,4.132
        c-5.298,1.33-10.627,2.404-16.094,2.352c-5.903-0.057-11.768,0.328-17.594-0.785c-5.481-1.047-10.834-2.584-16.292-3.684
        c-6.094-1.227-12.677-0.799-18.887-1.199c-7.173-0.463-13.583-2.558-20.434-4.566c-17.152-5.03-36.021-9.3-54.017-7.969
        c-2.5,0.186-5.018,0.53-7.542,0.982c-9.398,1.683-18.873,4.942-27.723,7.771c-7.64,2.441-15.166,5.516-23.206,6.365
        c-2.251,0.238-4.521,0.302-6.783,0.344c-1.775,0.031-3.55,0.034-5.325,0.052c-3.196,0.031-7.15-1.001-9.611,1.65
        c-1.13,1.22-2.29,2.256-3.546,3.35c-1.67,1.455-3.303,2.952-4.867,4.521c-3.061,3.075-5.925,6.429-8.076,10.212
        c-2.084,3.668-1.374,5.683-1.02,9.535c0.421,4.587-1.813,9.454-3.593,13.568c-3.308,7.645-8.105,14.737-12.143,22.02
        c-5.178,9.342-10.724,18.661-17.213,27.164c-2.469,3.235-4.907,6.329-7.493,9.298c-2.38,2.732-4.885,5.359-7.658,7.891
        c-3.142,2.866-5.156,4.849-6.711,8.864c-5.249,13.549-3.637,29.18-6.293,43.391c-1.351,7.234-3.734,13.826-6.204,20.708
        c-1.264,3.525-3.552,7.217-4.441,10.827c-0.594,2.412,0.314,5.224,0.517,7.619c0.369,4.366,0.712,8.57,0.66,12.974
        c-0.103,8.782-3.042,17.019-4.074,25.624c-0.344,2.872-0.476,5.784-0.219,8.772c0.464,5.393,0.986,10.688,4.854,14.797
        c2.916,3.1,7.102,5.429,10.767,7.547c8.248,4.769,13.837,8.515,15.8,18.546c2.318,11.848,1.832,23.646,11.238,32.661
        c7.197,6.896,18.032,8.024,24.676,15.54c4.957,5.605,6.949,11.854,13.712,15.15c0.625,0.305,1.287,0.585,1.999,0.836
        c5.46,1.927,11.637,3.426,14.995,8.729c3.532,5.58,3.923,13.242,4.539,19.605c0.597,6.18,4.547,10.013,8.892,14.265
        c11.415,11.172,26.714,18.078,40.759,25.278c8.611,4.414,15.606,6.442,25.164,6.429c13.483-0.021,26.555,4.881,39.755,7.449
        c1.073,0.209,2.15,0.389,3.229,0.555c11.698,1.802,23.696,1.126,35.131-1.655c7.385-1.797,14.406-5.11,21.611-7.479
        c6.276-2.063,12.246-2.745,18.775-3.438c8.747-0.927,18.898-1.571,26.01-7.375c3.95-3.223,6.009-7.855,8.762-12.013
        c2.736-4.13,5.807-7.119,10.22-9.479c7.955-4.252,17.818-3.61,26.199-7.019c5.963-2.424,10.719-6.403,15.99-9.956
        c1.563-1.053,3.144-2.064,4.748-3.026c4.955-2.971,10.14-5.452,15.732-7.107c13.516-4.002,27.674-2.284,41.472-1.188
        c2.773,0.221,5.475,0.778,8.147,0.038c2.233-0.618,3.115-1.419,5.676-0.839c4.424,1.003,8.392,3.723,12.329,5.846
        c4.899,2.642,9.708,4.716,14.851,6.637c1.299-4.943,3.45-8.561,6.96-12.253c3.115-3.277,6.638-6.389,8.041-10.845
        c2.496-7.926,9.342-9.736,15.239-14.458c4.622-3.702,5.587-12.056,7.003-17.376c1.381-5.188,1.256-10.211,4.439-14.762
        c2.716-3.881,6.906-5.88,6.942-10.943C545.653,318.116,546.568,312.591,546.35,307z"/>
      <path id="location1" fill="#F3EF8A" stroke="#F3EF8A" stroke-width="0.25" stroke-miterlimit="10" d="M515.313,345.706
        c-4.337,2.206-9.779,1.243-14.495,1.851c-6.395,0.821-12.01,1.188-17.378,5.193c-2.309,1.723-3.931,3.278-6.635,4.307
        c-2.718,1.031-5.584,1.694-8.293,2.732c-5.178,1.983-10.066,5.066-15.256,7.2c-5.617,2.31-10.035,5.851-14.955,9.278
        c-4.071,2.837-6.296,5.176-7.257,10.248c-0.233,1.233-0.572,3.905-0.099,4.634c8.446-0.305,16.986,0.588,25.395,1.257
        c2.774,0.221,5.476,0.777,8.147,0.038c2.233-0.618,3.114-1.419,5.676-0.839c4.423,1.003,8.391,3.722,12.33,5.845
        c4.897,2.642,9.707,4.717,14.849,6.638c1.299-4.943,3.45-8.561,6.96-12.254c3.116-3.276,6.639-6.388,8.041-10.844
        c2.496-7.927,9.342-9.736,15.239-14.459c4.622-3.701,5.587-12.055,7.003-17.375c1.169-4.394,1.267-8.666,3.199-12.635
        c-3.602,0.208-6.984,1.264-10.479,2.41C522.852,340.393,519.4,343.628,515.313,345.706z"/>
    </g>
    <g id="circle1">
      <path id="c1_loc1" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M545.97,323.45
        c0.039-5.547,0.955-11.073,0.735-16.663c-0.875-22.316-8.849-42.37-22.121-60.317c-6.905-9.338-15.218-18.334-22.081-28.033
        l-84.438,7.334c2.843,12.351,3.693,25.61,10.988,36.15c4.024,5.815,9.739,10.811,11.751,17.801
        c1.943,6.751,1.938,14.151-1.118,20.499c-3.92,8.144-10.301,13.979-16.283,20.521c-5.068,5.541-10.782,10.58-16.988,14.763
        c-5.696,3.839-11.359,6.883-17.828,9.135c-6.234,2.171-12.534,4.801-18.098,8.493c-2.751,1.826-5.205,3.977-7.499,6.301
        l36.146,41.268c4.956-2.97,10.142-5.452,15.733-7.106c5.28-1.564,10.66-2.248,16.077-2.443c-0.475-0.729-0.136-3.399,0.099-4.634
        c0.961-5.072,3.186-7.411,7.257-10.248c4.92-3.429,9.338-6.97,14.955-9.278c5.188-2.134,10.078-5.217,15.256-7.2
        c2.709-1.038,5.575-1.701,8.293-2.732c2.704-1.027,4.326-2.584,6.635-4.307c5.368-4.007,10.983-4.372,17.378-5.193
        c4.716-0.606,10.158,0.355,14.495-1.851c4.088-2.078,7.538-5.313,11.993-6.773c3.494-1.146,6.878-2.202,10.479-2.41
        c0.35-0.719,0.753-1.429,1.241-2.127C541.742,330.514,545.933,328.515,545.97,323.45z"/>
      <path id="c1_loc2" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M340.778,383.125
        c-10.758,7.757-22.635,14.905-35.967,16.838c-19.603,2.844-38.386-5.734-57.979-3.669c-3.021,0.318-5.982,0.909-8.937,1.53
        l-6.205,64.318c11.697,1.802,23.696,1.125,35.13-1.656c7.385-1.797,14.407-5.111,21.612-7.479
        c6.275-2.063,12.245-2.744,18.774-3.438c8.748-0.927,18.898-1.573,26.01-7.375c3.95-3.223,6.01-7.856,8.764-12.013
        c2.734-4.13,5.806-7.12,10.22-9.479c7.954-4.253,17.817-3.612,26.198-7.019c5.963-2.425,10.719-6.404,15.989-9.956
        c1.563-1.054,3.145-2.065,4.748-3.027l-36.146-41.268C355.39,367.135,349.581,376.777,340.778,383.125z"/>
      <path id="c1_loc3" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M224.791,399.981
        c-7.021,0.435-16.229,1.166-22.27-3.151c-3.527-2.521-4.033-6.932-3.58-10.932c0.136-1.206,1.092-3.082,0.545-4.254
        c-0.677-1.449-5.026-2.199-6.33-2.632c-3.197-1.063-5.787-2.683-8.721-4.161c-1.881-0.948-3.771-1.236-4.904-3.259
        c-0.558-0.995-0.352-2.456-1.181-3.338c-0.769-0.817-3.091-1.755-4.112-2.192c-4.155-1.786-8.439-3.267-12.458-5.321
        c-4.444-2.273-7.19-5.45-10.051-9.438c-2.996-4.175-5.36-8.717-9.47-11.88c-0.726-0.559-1.494-1.075-2.288-1.569l-47.614,41.141
        c0.625,0.305,1.287,0.586,1.999,0.837c5.46,1.926,11.637,3.424,14.995,8.729c3.531,5.58,3.923,13.242,4.539,19.605
        c0.597,6.18,4.547,10.011,8.892,14.265c11.415,11.172,26.715,18.078,40.759,25.276c8.611,4.414,15.606,6.443,25.164,6.431
        c13.483-0.021,26.555,4.88,39.755,7.449c1.073,0.208,2.15,0.388,3.229,0.555l6.205-64.318
        C233.572,398.732,229.261,399.704,224.791,399.981z"/>
      <path id="c1_loc4" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M125.845,330.774
        c-6.408-3.563-12.307-7.159-18.237-11.479c-5.779-4.209-11.372-8.759-17.521-12.464c-12.701-7.651-24.047-21.079-22.869-36.688
        c0.259-3.438,0.917-6.823,1.621-10.207l-57.308,6.046c-0.344,2.871-0.476,5.784-0.218,8.771c0.464,5.394,0.986,10.688,4.853,14.797
        c2.916,3.1,7.103,5.43,10.767,7.548c8.248,4.768,13.837,8.515,15.8,18.546c2.318,11.847,1.832,23.646,11.237,32.661
        c7.197,6.896,18.033,8.024,24.677,15.54c4.957,5.605,6.949,11.854,13.711,15.149l47.614-41.141
        C135.563,335.11,130.271,333.234,125.845,330.774z"/>
      <path id="c1_loc5" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M71.076,246.168
        c0.444-7.979-0.583-16.064-0.08-24.04c0.618-9.792,3.631-19.955,6.349-29.362c2.59-8.97,5.657-18.047,10.696-25.991
        c2.606-4.108,5.278-8.07,7.557-12.24l-49.861-26.45c-2.379,2.732-4.884,5.359-7.658,7.891c-3.142,2.865-5.156,4.849-6.711,8.863
        c-5.249,13.55-3.637,29.181-6.293,43.392c-1.352,7.233-3.734,13.826-6.204,20.708c-1.265,3.524-3.552,7.217-4.441,10.827
        c-0.593,2.411,0.315,5.224,0.517,7.618c0.369,4.367,0.712,8.571,0.661,12.976c-0.104,8.782-3.043,17.018-4.075,25.624l57.308-6.046
        C69.785,255.385,70.815,250.839,71.076,246.168z"/>
      <path id="c1_loc6" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M100.026,144.121
        c2.866-9.836,4.252-19.975,7.566-29.676c2.244-6.57,5.834-13.271,11.939-16.808c7.312-4.237,15.678-5.628,23.13-9.118
        c8.688-4.069,16.407-10.005,25.279-13.881c3.825-1.672,7.665-3.292,11.515-4.901c4.779-1.996,9.782-5.004,14.939-6.42
        l-18.06-51.083c-9.398,1.683-18.873,4.942-27.723,7.771c-7.639,2.442-15.166,5.517-23.206,6.366
        c-2.251,0.238-4.521,0.301-6.783,0.343c-1.775,0.032-3.55,0.035-5.325,0.053c-3.196,0.03-7.15-1.001-9.611,1.65
        c-1.13,1.22-2.29,2.255-3.546,3.35c-1.671,1.455-3.304,2.952-4.867,4.521c-3.061,3.075-5.924,6.428-8.076,10.212
        c-2.085,3.668-1.374,5.683-1.02,9.535c0.421,4.587-1.812,9.454-3.593,13.569c-3.308,7.644-8.105,14.736-12.143,22.019
        c-5.179,9.341-10.724,18.661-17.213,27.164c-2.469,3.235-4.907,6.329-7.494,9.298l49.861,26.45
        C97.392,151.25,98.943,147.837,100.026,144.121z"/>
      <path id="c1_loc7" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M201.764,62.646
        c8.994,1.123,19.252,0.825,28.096-1.225c2.25-0.521,5.847-2.543,8.178-1.605c1.796,0.722,2.97,3.063,4.524,4.283
        c3.165,2.486,7.369,4.427,11.356,4.914c5.572,0.68,10.471-0.117,15.763-1.623c2.793-0.795,8.227-3.078,11.202-2.075
        c1.838,0.619,3.426,2.788,4.996,3.965c2.602,1.951,5.048,3.317,8.227,4.131c3.299,0.844,6.712,1.001,9.956,2.17
        c2.146,0.773,4.132,1.908,6.156,2.952l16.976-51.43c-5.298,1.33-10.627,2.403-16.095,2.352c-5.902-0.057-11.766,0.328-17.594-0.785
        c-5.481-1.047-10.834-2.584-16.292-3.684c-6.094-1.228-12.677-0.799-18.886-1.199c-7.173-0.463-13.583-2.558-20.434-4.566
        c-17.152-5.03-36.021-9.3-54.017-7.969c-2.5,0.186-5.018,0.53-7.542,0.982l18.06,51.083
        C196.819,62.65,199.278,62.335,201.764,62.646z"/>
      <path id="c1_loc8" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M312.961,79.833
        c7.688,3.189,15.32,3.169,23.545,3.169c3.146,0,8.058,0.958,10.573-1.021c-0.199,3.569-0.152,6.931-0.694,10.476
        c-0.571,3.736-1.757,10.067-0.657,13.86c0.922,3.181,3.921,3.17,6.203,4.553c2.023,1.227,3.608,4.771,4.571,6.776
        c2.503,5.214,3.65,10.986,5.165,16.55c1.926,7.07,6.271,11.582,11.2,16.701c9.399,9.766,16.257,21.158,22.211,33.396
        c6.327,13.005,17.644,22.563,21.754,36.689c0.459,1.575,0.862,3.174,1.233,4.788l84.438-7.334c-2.713-3.835-5.2-7.78-7.283-11.899
        c-3.754-7.423-6.582-15.499-10.918-22.622c-3.271-5.371-8.462-10.239-13.106-14.428c-9.913-8.938-20.302-17.938-31.395-25.364
        c-6.104-4.089-12.262-9.16-17.814-13.991c-4.696-4.085-9.248-8.981-12.476-14.332c-2.939-4.877-5.739-10.801-5.84-16.543
        c-0.113-6.463,1.237-12.803,1.362-19.251c0.153-7.967,0.841-16.373-1.854-23.974c-2.63-7.421-6.67-13.154-12.483-18.456
        c-4.962-4.522-10.685-8.785-16.608-11.974c-4.109-2.212-9.933-1.709-14.577-2.29c-4.948-0.619-10.139-1.106-14.953-0.342
        c-5.843,0.928-11.585,2.682-17.363,4.132l-16.976,51.43C311.118,78.997,312.026,79.445,312.961,79.833z"/>
    </g>
    <g id="circle2">
      <path id="c2_loc1" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M364.466,261.952
        c0.773,1.498,1.958,2.671,2.979,3.952c1.676,2.105,2.041,4.571,2.521,7.142c0.15,0.806,0.285,1.613,0.411,2.424
        c1.691,10.853,2.626,22.115-5.344,30.741c-2.987,3.232-5.582,6.361-7.361,10.45c-0.663,1.524-1.239,3.095-1.705,4.69
        c-0.505,1.729-0.221,2.964-1.948,3.388c-2.899,0.711-6.693-0.862-9.679-0.863c-4.529-0.003-7.95,0.695-11.867,3.032
        c-4.586,2.736-9.394,3.448-14.607,4.087c-6.007,0.736-9.708,6.976-14.169,10.545c-0.565,0.453-1.159,0.897-1.771,1.331
        l21.476,50.86c5.984-2.999,11.646-6.729,17.03-10.609c11.458-8.263,17.842-22.11,29.71-29.992c5.563-3.692,11.863-6.322,18.1-8.492
        c6.468-2.254,12.132-5.297,17.828-9.136c6.206-4.183,11.919-9.222,16.987-14.763c5.983-6.542,12.363-12.379,16.283-20.522
        c2.385-4.954,2.906-10.553,2.099-15.981L364.466,261.952z"/>
      <path id="c2_loc2" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M288.896,348.569
        c-2.23,0.35-4.504,0.981-6.711,1.259c-2.27,0.284-4.58,0.191-6.86,0.492c-4.833,0.636-10.103,1.603-14.679,3.486
        c-4.571,1.881-8.769,3.035-13.656,3.697c-3.927,0.532-8.208-1.312-11.131,2.058c-1.113,1.283-1.813,2.813-2.753,4.225
        c-0.757,1.135-1.375,3.583-2.51,4.135c-1.139-1.084-1.875-2.562-3.045-3.716c-1.438-1.421-2.577-2.896-4.107-4.201
        c-1.445-1.229-2.512-2.507-4.293-3.277c-1.335-0.579-1.76-0.727-2.827-1.774c-1.507-1.482-2.922-3.46-4.716-4.713
        c-2.615-1.828-5.891-1.346-8.795-2.188c-2.45-0.711-4.971-1.138-7.406-1.914c-2.932-0.938-5.687-2.334-7.536-4.514l-14.434,24.246
        c0.15,0.063,0.301,0.125,0.451,0.189c1.021,0.438,3.343,1.375,4.112,2.192c0.829,0.882,0.623,2.344,1.181,3.338
        c1.133,2.021,3.022,2.311,4.904,3.259c2.934,1.479,5.523,3.099,8.721,4.161c1.303,0.433,5.653,1.184,6.329,2.633
        c0.547,1.171-0.408,3.048-0.545,4.253c-0.454,4,0.052,8.411,3.58,10.933c6.041,4.316,15.248,3.585,22.27,3.15
        c7.525-0.467,14.6-2.903,22.042-3.688c19.595-2.064,38.377,6.513,57.981,3.67c6.66-0.967,12.958-3.233,18.936-6.229l-21.476-50.86
        C298.063,345.605,293.376,347.868,288.896,348.569z"/>
      <path id="c2_loc3" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M185.636,336.477
        c-0.393-3.198,0.031-6.292-1.335-9.334c-1.813-4.035-4.402-7.521-6.74-11.227c-1.863-2.952-3.875-5.867-4.621-9.276
        c-0.541-2.474,0.28-5.305-2.501-6.404c-6.639-2.627-14.026-3.307-20.615-6.155c-3.534-1.526-4.661-4.991-6.385-8.105
        c-2.112-3.814-4.679-7.356-6.625-11.249c-1.681-3.363-2.312-6.938-3.447-10.491c-1.467-4.591-4.509-8.106-7.478-11.774
        c-2.761-3.412-6.097-6.029-9.137-9.136c-1.258-1.286-2.74-2.301-4.211-3.323l-41.71,2.927c-0.014,1.082-0.045,2.161-0.105,3.24
        c-0.453,8.143-3.25,15.909-3.858,23.976c-1.178,15.608,10.168,29.037,22.869,36.688c6.149,3.704,11.742,8.254,17.521,12.464
        c5.931,4.319,11.83,7.915,18.237,11.479c5.223,2.903,11.657,4.988,16.416,8.65c4.109,3.162,6.474,7.705,9.47,11.88
        c2.862,3.985,5.607,7.162,10.051,9.437c3.874,1.981,7.994,3.431,12.007,5.132l14.434-24.246
        C186.702,340.248,185.893,338.563,185.636,336.477z"/>
      <path id="c2_loc4" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M107.909,236.085
        c-2.654-3.229-2.169-7.435-2.184-11.342c-0.019-4.763,0.904-9.586,1.68-14.281c0.634-3.832,1.267-7.457,1.259-11.355
        c-0.003-1.818,0.087-3.656,0.01-5.471c-0.088-2.069-0.761-4.196-0.461-6.289c0.575-4.019,2.747-4.914,5.587-7.208
        c4.89-3.949,7.508-10.458,10.384-15.806c1.742-3.237,3.813-7.446,7.037-9.485c1.481-0.938,2.684-1.377,4.007-2.66
        c1.464-1.419,2.915-2.824,4.933-3.398c3.715-1.057,7.722-0.47,11.354,0.338c3.39,0.755,6.706,1.43,10.103,2.404
        c1.75,0.502,3.051,1.338,4.8,0.752c0.309-0.104,0.627-0.246,0.946-0.418l-54.265-48.813c-2.625,3.352-4.493,7.393-5.858,11.39
        c-3.313,9.701-4.7,19.839-7.566,29.676c-2.457,8.436-7.327,15.311-11.986,22.654c-5.039,7.943-8.105,17.021-10.696,25.992
        c-2.718,9.407-5.73,19.569-6.349,29.362c-0.435,6.896,0.273,13.876,0.185,20.8L112.54,240
        C110.869,238.839,109.211,237.669,107.909,236.085z"/>
      <path id="c2_loc5" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M170.543,148.705
        c1.772-3.836-4.086-1.328-4.786-3.359c-0.27-0.784,1.051-2.602,1.312-3.351c0.476-1.364,0.405-2.844,0.408-4.317
        c0.008-2.978-0.751-5.551-1.414-8.402c-0.479-2.061-0.55-4.5,1.078-6.112c2.688-2.663,6.805-4.197,10.091-5.975
        c2.611-1.413,5.088-3.265,7.179-5.372c1.41-1.422,2.304-3.369,3.769-4.702c1.763-1.604,4.191-1.443,6.432-1.481
        c3.144-0.053,6.321,0.01,9.403-0.713c3.449-0.808,6.219-3.01,9.778-3.623c3.321-0.571,6.682,0.388,9.969,0.673
        c3.593,0.311,7.215,0.445,10.824,0.505c2.124,0.034,4.433,0.447,6.103,1.689c1.206,0.897,1.254,1.128,2.807,1.261
        c2.595,0.222,4.75-0.831,7.154-1.578c4.253-1.322,8.063-4.062,12.494-4.896c0.7-0.132,1.367-0.089,2.016,0.061l2.587-31.195
        c-4.698,1.219-9.166,1.804-14.178,1.191c-3.988-0.486-8.191-2.426-11.356-4.912c-1.553-1.222-2.728-3.562-4.524-4.283
        c-2.33-0.938-5.927,1.086-8.178,1.606c-8.843,2.048-19.101,2.347-28.096,1.224c-7.772-0.971-15.283,4.156-22.31,7.092
        c-3.85,1.607-7.689,3.229-11.515,4.901c-8.871,3.875-16.591,9.812-25.279,13.88c-7.452,3.489-15.818,4.882-23.13,9.118
        c-2.391,1.386-4.392,3.261-6.082,5.419l54.265,48.813C168.676,151.155,169.979,149.927,170.543,148.705z"/>
      <path id="c2_loc6" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M274.693,101.758
        c2.002-0.787,2.081-0.731,3.483,1.006c1.545,1.911,2.996,3.168,5.124,4.344c2.08,1.147,3.041,2.479,4.398,4.397
        c1.473,2.079,3.8,3.441,5.071,5.661c0.78,1.361,0.955,2.077,2.418,2.645c1.422,0.552,3.325-0.031,4.639,0.728
        c1.183,0.684,1.47,1.771,2.911,2.119c1.629,0.395,3.5-0.291,5.154,0.076c2.089,0.462,3.535,1.886,5.359,2.867
        c6.581,3.539,14.196,2.652,21.104,5.011c4.191,1.431,6.185,4.032,7.856,7.982c1.867,4.41,4.248,8.835,6.921,12.873l14.331-11.875
        c-0.878-1.646-1.611-3.42-2.149-5.397c-1.517-5.564-2.662-11.337-5.166-16.55c-0.963-2.005-2.548-5.552-4.57-6.776
        c-2.284-1.383-5.282-1.373-6.203-4.553c-1.1-3.793,0.085-10.125,0.656-13.86c0.542-3.545,0.495-6.906,0.694-10.477
        c-2.517,1.98-7.43,1.021-10.573,1.021c-8.225,0-15.857,0.021-23.544-3.168c-3.039-1.261-5.802-3.136-8.9-4.253
        c-3.244-1.168-6.656-1.326-9.956-2.17c-3.178-0.813-5.624-2.18-8.227-4.13c-1.57-1.177-3.157-3.346-4.995-3.966
        c-2.976-1.002-8.408,1.28-11.202,2.075c-0.532,0.15-1.06,0.293-1.585,0.43l-2.587,31.195
        C268.372,99.749,271.098,103.173,274.693,101.758z"/>
      <path id="c2_loc7" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M350.115,152.917
        c2.31,3.32,4.881,6.261,6.425,10.063c1.103,2.713,1.493,5.951,1.966,8.843c0.36,2.212-0.633,6.068,0.597,7.97
        c1.796,2.771,6.968,0.816,8.257,3.764c1.269,2.902-0.796,5.327,1.767,7.991c2.084,2.167,4.784,3.213,7.487,4.274
        c0.772,3.53-3.575,7.562-5.396,10.113c-1.085,1.519-2.436,3.577-3.047,5.356c-0.603,1.76,0.341,2.519,0.556,4.201
        c0.411,3.213-2.373,6.319-3.287,9.242c-1.299,4.139,2.449,6.811,1.077,10.658c-1.799,5.041-2.882,10.469-2.851,15.831
        c0.018,3.007-0.598,6.683,0.305,9.555c0.132,0.42,0.306,0.806,0.497,1.177l76.968,22.282c-0.227-1.524-0.553-3.036-0.979-4.517
        c-2.013-6.99-7.727-11.984-11.752-17.8c-8.247-11.917-8.256-27.313-12.222-40.938c-4.111-14.127-15.428-23.685-21.756-36.689
        c-5.952-12.236-12.81-23.63-22.211-33.396c-3.55-3.688-6.79-7.063-9.049-11.303l-14.331,11.875
        C349.459,151.955,349.784,152.44,350.115,152.917z"/>
    </g>
    <g id="circle3">
      <path id="c3_loc1" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M369.961,273.046
        c-0.479-2.569-0.844-5.035-2.521-7.142c-1.272-1.6-2.813-3.019-3.476-5.129c-0.9-2.872-0.287-6.548-0.305-9.555
        c-0.03-5.362,1.053-10.79,2.851-15.831c1.372-3.848-2.375-6.52-1.078-10.658c0.916-2.923,3.7-6.029,3.289-9.242
        c-0.215-1.683-1.158-2.442-0.556-4.201c0.61-1.781,1.962-3.838,3.047-5.356c0.236-0.332,0.519-0.69,0.823-1.068l-32.883,4.634
        c0.185,0.333,0.355,0.688,0.498,1.08c2.074,5.803-1.104,12.896-4.871,17.25c-1.708,1.974-3.579,3.495-4.832,5.838
        c-0.801,1.498-1.962,3.588-1.209,5.311c0.613,1.404,2.375,1.878,3.289,3.04c1.161,1.476,1.358,2.669,1.336,4.523
        c-0.02,1.518-0.203,2.396,0.89,3.493c0.948,0.953,2.688,1.014,3.186,2.771c0.632,2.227-0.405,4.9-2.119,6.318
        c1.335-0.478,2.546-0.479,3.983-0.48c0.893-0.002,3.747-0.163,4.422,0.515c1.856,1.862-2.924,5.886-3.972,7.253
        c-1.647,2.152-3.797,3.732-5.462,5.812c-1.776,2.219-0.693,4.815-0.853,7.447c-0.244,4.009-3.222,7.967-6.628,9.951
        c-1.679,0.979-3.781,1.558-5.086,3.085c-1.722,2.019-1.108,4.854-2.174,7.154c-1.663,3.602-5.658,5.048-8.752,7.211
        c-2.779,1.942-5.512,3.335-8.585,4.713c-3.001,1.346-5.794,3.096-8.677,4.678l12.749,22.691c3.428-3.45,6.76-7.568,11.57-8.158
        c5.215-0.639,10.021-1.351,14.607-4.087c3.917-2.337,7.339-3.035,11.868-3.032c2.983,0.001,6.777,1.574,9.678,0.863
        c1.729-0.424,1.443-1.657,1.948-3.388c0.466-1.597,1.042-3.166,1.705-4.69c1.779-4.089,4.375-7.218,7.361-10.45
        c7.97-8.626,7.034-19.89,5.344-30.742C370.247,274.659,370.111,273.851,369.961,273.046z"/>
      <path id="c3_loc2" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M290.48,318.033
        c-4.524,2.119-9.263,3.804-14.129,4.943c-3.532,0.827-7.225,1.263-10.789,1.71c-3.325,0.418-6.972,0.736-10.353,0.322
        c-5.099-0.626-9.77-2.848-14.275-5.193c-2.107-1.099-4.834-2.038-6.703-3.488c-1.453-1.128-1.636-2.262-3.706-2.444
        c-1.705-0.148-3.813-0.212-5.507-0.021c-2.92,0.327-5.933,0.136-8.871,0.462c-2.321,0.257-9.185,3.852-10.361,1.815
        c-0.015-0.025-0.026-0.059-0.04-0.085l-11.365,29.732c0.338,0.122,0.678,0.24,1.022,0.352c2.435,0.776,4.956,1.203,7.406,1.913
        c2.905,0.843,6.181,0.359,8.795,2.188c1.794,1.253,3.209,3.229,4.716,4.713c1.066,1.049,1.491,1.195,2.827,1.774
        c1.781,0.771,2.848,2.048,4.293,3.277c1.53,1.305,2.669,2.78,4.108,4.201c1.169,1.154,1.905,2.632,3.044,3.716
        c1.135-0.552,1.753-3,2.51-4.135c0.94-1.41,1.64-2.94,2.753-4.225c2.923-3.368,7.205-1.524,11.131-2.058
        c4.887-0.662,9.084-1.816,13.656-3.697c4.575-1.885,9.845-2.852,14.679-3.486c2.281-0.301,4.592-0.208,6.861-0.492
        c2.205-0.276,4.479-0.909,6.711-1.259c5.188-0.813,10.66-3.72,14.796-7.029c0.889-0.711,1.746-1.527,2.599-2.387l-12.749-22.691
        C292.536,317.014,291.521,317.546,290.48,318.033z"/>
      <path id="c3_loc3" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M205.394,310.763
        c-0.238-2.014-0.755-5.845-2.096-7.151c-1.75-1.707-4.611-2.315-6.462-4.102c-2.219-2.142-4.411-4.235-6.639-6.31
        c-4.279-3.983-8.534-8.846-13.571-12.003c-3.475-2.178-7.874-3.086-10.833-5.979c-0.772-0.757-3.52-2.289-3.824-3.025
        c-0.479-1.164,1.102-2.065,1.206-3.213c0.236-2.626-1.118-4.76-2.906-6.461c-1.772-1.687-2.025-2.754-2.141-5.214
        c-0.06-1.271-0.132-2.545-0.207-3.82l-25.16,9.12c0.222,0.528,0.424,1.07,0.603,1.628c1.135,3.553,1.766,7.128,3.447,10.491
        c1.946,3.893,4.514,7.435,6.625,11.249c1.725,3.114,2.852,6.579,6.386,8.105c6.588,2.85,13.976,3.528,20.614,6.155
        c2.782,1.101,1.961,3.932,2.502,6.404c0.746,3.409,2.758,6.324,4.621,9.276c2.338,3.704,4.928,7.19,6.74,11.227
        c1.366,3.042,0.942,6.136,1.335,9.334c0.614,5,4.385,7.721,8.749,9.31l11.365-29.732
        C205.189,314.92,205.538,311.976,205.394,310.763z"/>
      <path id="c3_loc4" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M157.762,237.086
        c0.073-0.769,0.181-1.979-0.087-2.705c-0.219-0.59-1.283-1.168-1.39-1.665c-0.317-1.463,1.128-3.08,0.253-5.085
        c-1.269-2.905-6.146-3.728-6.418-7.151c-0.148-1.879,1.592-2.884,2.253-4.479c0.748-1.804,0.452-3.92,0.451-5.86
        c-0.002-3.772-0.544-7.623-1.445-11.229c-0.396-1.585-0.733-3.492-1.228-4.963c-0.596-1.771-1.573-2.863-1.368-4.917
        c0.381-3.813,1.959-7.704,4.379-10.78c2.066-2.627,4.173-5.058,6.675-7.169l-26.877-17.25c-0.552,0.316-1.122,0.623-1.742,1.016
        c-3.224,2.039-5.295,6.248-7.037,9.485c-2.876,5.349-5.494,11.856-10.384,15.806c-2.841,2.294-5.012,3.189-5.587,7.208
        c-0.3,2.093,0.373,4.22,0.461,6.289c0.078,1.814-0.013,3.652-0.01,5.471c0.008,3.898-0.625,7.523-1.259,11.355
        c-0.776,4.695-1.699,9.52-1.68,14.281c0.015,3.907-0.47,8.113,2.184,11.342c2.449,2.979,6.155,4.491,8.842,7.238
        c3.04,3.106,6.375,5.725,9.137,9.136c2.608,3.224,5.272,6.327,6.875,10.146l25.16-9.12
        C157.6,248.022,157.245,242.537,157.762,237.086z"/>
      <path id="c3_loc5" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M162.704,168.933
        c4.253-2.794,8.715-5.088,13.024-7.749c3.834-2.367,7.3-4.979,10.777-7.756c3.432-2.741,7.428-5.025,10.78-7.938
        c1.82-1.582,3.24-3.785,5.04-5.311c2.334-1.98,4.227,0.151,6.512,1.355c1.494,0.787,4.685,2.272,6.435,1.708
        c2.062-0.665,3.745-4.229,4.917-5.857c0.517-0.719,0.929-1.267,1.354-1.678l-6.62-34.547c-0.379,0.029-0.757,0.072-1.135,0.137
        c-3.559,0.612-6.33,2.814-9.778,3.623c-3.082,0.723-6.259,0.66-9.403,0.713c-2.24,0.038-4.668-0.123-6.432,1.481
        c-1.465,1.333-2.359,3.28-3.769,4.702c-2.09,2.107-4.568,3.959-7.179,5.372c-3.286,1.776-7.403,3.312-10.091,5.975
        c-1.627,1.612-1.557,4.053-1.078,6.112c0.663,2.853,1.422,5.426,1.414,8.402c-0.003,1.474,0.067,2.953-0.408,4.317
        c-0.261,0.749-1.582,2.566-1.312,3.351c0.7,2.031,6.558-0.478,4.786,3.359c-0.702,1.519-2.542,3.048-4.125,3.579
        c-1.75,0.586-3.051-0.25-4.8-0.752c-3.396-0.976-6.713-1.648-10.103-2.404c-3.632-0.809-7.639-1.395-11.354-0.338
        c-2.018,0.574-3.468,1.979-4.933,3.398c-0.77,0.746-1.5,1.206-2.266,1.645l26.877,17.25
        C160.737,170.323,161.685,169.603,162.704,168.933z"/>
      <path id="c3_loc6" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M224.683,134.688
        c2.303,0.015,4.403-0.234,6.635-0.447c4.185-0.399,8.444-0.765,12.662-1.326c4.058-0.54,8.074-1.077,12.139-1.371
        c1.689-0.122,2.649-0.921,4.143-1.246c1.965-0.427,3.697-0.149,4.842,1.239c1.754,2.129,2.884,3.021,5.785,2.518
        c3.002-0.521,5.647,0.964,8.156,2.401c1.071,0.615,2.105,1.274,3.264,1.713c1.207,0.457,2.955,0.44,3.936,1.336
        c0.619,0.566,0.752,1.227,0.792,1.925l12.676-20.949c-1.308-0.666-3.144-0.134-4.524-0.67c-1.463-0.567-1.638-1.283-2.418-2.645
        c-1.271-2.22-3.6-3.583-5.07-5.661c-1.358-1.917-2.318-3.25-4.398-4.397c-2.129-1.175-3.58-2.433-5.124-4.344
        c-1.402-1.738-1.482-1.793-3.483-1.006c-4.321,1.7-7.386-3.591-11.552-2.807c-4.431,0.834-8.241,3.573-12.494,4.896
        c-2.404,0.748-4.559,1.8-7.154,1.578c-1.553-0.132-1.602-0.362-2.807-1.261c-1.67-1.242-3.979-1.655-6.103-1.689
        c-3.609-0.06-7.231-0.194-10.824-0.505c-2.913-0.253-5.884-1.032-8.833-0.81l6.62,34.547
        C222.313,134.967,223.126,134.678,224.683,134.688z"/>
      <path id="c3_loc7" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M287.12,142.959
        c0.288,1.982,0.51,1.361,2.386,1.746c1.229,0.251,2.063,0.715,2.671,1.472c0.38,0.472,0.669,1.057,0.913,1.775
        c0.54,1.602,0.551,3.22,1.869,4.461c1.708,1.608,5.284,2.354,7.54,2.06c1.144-0.149,2.302-0.993,3.393-0.854
        c0.199,2.356,5.931,1.108,7.636,1.358c1.501,3.113-0.335,6.812,0.156,10.173c3.013,0.705,2.312,3.733,3.843,5.589
        c0.984,1.194,2.992,1.922,4.176,3c2.094,1.908,3.674,4.591,5.477,6.77c3.087,3.729,7.397,6.617,9.903,10.777
        c1.236,2.056,0.998,4.029,0.575,6.188c-0.517,2.627-0.49,5.514-0.246,8.194c0.145,1.601,1.041,2.563,1.744,3.828l32.883-4.634
        c2.043-2.525,5.245-5.975,4.573-9.045c-2.704-1.063-5.403-2.106-7.487-4.274c-2.563-2.664-0.498-5.089-1.768-7.991
        c-1.289-2.946-6.462-0.991-8.256-3.764c-1.229-1.9-0.235-5.757-0.598-7.97c-0.473-2.892-0.863-6.13-1.965-8.843
        c-1.544-3.803-4.116-6.742-6.426-10.063c-3.071-4.415-5.809-9.379-7.9-14.324c-1.673-3.949-3.664-6.551-7.857-7.981
        c-6.906-2.357-14.522-1.472-21.104-5.011c-1.824-0.981-3.271-2.405-5.358-2.867c-1.655-0.367-3.525,0.317-5.154-0.076
        c-1.441-0.348-1.729-1.437-2.911-2.119c-0.037-0.021-0.076-0.038-0.114-0.058l-12.676,20.948
        C287.063,141.927,287.045,142.443,287.12,142.959z"/>
    </g>
    <g id="circle4">
      <path id="c4_loc1" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M299.525,268.946
        c-0.615,1.682,1.475,6.429-12.885,13.901c-1.99,0.993-3.983,1.747-6.093,2.449c-1.793,0.601-3.596,0.811-5.39,1.409
        c-2.253,0.752-4.096,1.764-5.843,3.32c-0.729,0.649-1.503,0.852-2.48,0.872c-0.816,0.016-1.94-0.305-2.592,0.363
        c-1.205,1.236-0.607,3.782-1.88,5.103c-0.758,0.785-1.296,0.023-2.258-0.168c-0.884-0.177-1.601,0.363-2.525,0.168
        c-0.989-0.209-1.532-1.076-2.73-0.851c-0.711,0.135-0.919,0.741-1.497,1.023c-0.491,0.24-1.114,0.128-1.64,0.073
        c-1.623-0.167-3.189-0.679-4.63-1.436c-0.976-0.514-1.9-1.083-2.81-1.66l-1.661,27.162c3.988,2.009,8.128,3.782,12.597,4.332
        c3.381,0.413,7.028,0.095,10.353-0.323c3.564-0.447,7.256-0.883,10.789-1.71c4.867-1.141,9.604-2.824,14.129-4.943
        c4.021-1.885,7.688-4.434,11.735-6.249c3.073-1.378,5.805-2.771,8.585-4.713c3.094-2.163,7.089-3.609,8.752-7.211
        c1.064-2.302,0.452-5.137,2.174-7.154c0.872-1.021,2.103-1.619,3.323-2.194L299.525,268.946z"/>
      <path id="c4_loc2" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M238.467,290.065
        c-2.021-0.726-4.202-1.403-6.333-1.72c-0.861-0.127-1.825-0.18-2.688-0.076c-1.023,0.12-2.044,0.612-3.089,0.323
        c-1.077-0.302-0.398-1.372-1.088-2.063c-0.456-0.457-1.454-0.427-2.021-0.709c-0.204-1.389-0.187-2.158-1.102-3.303
        c-0.936-1.17-1.922-2.272-2.696-3.564c-0.665-1.109-1.71-2.151-2.949-2.604c-1.377-0.505-2.863-0.563-4.216-1.156
        c-1.752-0.771-2.301-2.66-3.727-3.833c-1.622-1.334-2.02-3.668-3.412-5.246c-1.427-1.617-3.935-0.598-5.624,0.053
        c-0.683,0.264-2.009,0.718-2.782,0.335c-0.631-0.312-0.827-1.271-1.034-2.077l-21.19,15.396c0.899,0.418,1.778,0.863,2.604,1.381
        c5.038,3.157,9.292,8.02,13.571,12.003c2.228,2.073,4.42,4.168,6.639,6.31c1.851,1.785,4.712,2.395,6.462,4.102
        c1.341,1.308,1.858,5.139,2.096,7.151c0.147,1.242-0.225,4.307,0.393,5.375c1.177,2.035,8.04-1.56,10.361-1.815
        c2.938-0.326,5.951-0.135,8.871-0.462c1.694-0.189,3.803-0.127,5.507,0.021c2.069,0.184,2.253,1.316,3.706,2.444
        c1.869,1.45,4.595,2.392,6.703,3.488c0.557,0.29,1.116,0.578,1.678,0.862l1.661-27.162
        C242.733,292.224,240.771,290.892,238.467,290.065z"/>
      <path id="c4_loc3" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M194.938,263.593
        c-0.847-1.685-3.085-0.981-3.938-2.485c-0.386-0.684-0.163-1.648-0.333-2.393c-0.252-1.096-0.941-1.958-1.72-2.735
        c-0.754-0.754-1.104-1.154-1.097-2.259c0.004-0.555-0.05-1.131,0-1.682c0.097-1.05,0.708-2.299,0.138-3.298
        c-0.743-1.305-2.25-2.288-3.227-3.423c-0.976-1.134-1.701-2.158-2.092-3.641c-0.391-1.483,0.075-2.053,0.628-3.362
        c0.813-1.922,1.351-4.318,1.674-6.378c0.166-1.057-0.465-1.581-0.722-2.512c-0.261-0.95,0.425-1.632,0.449-2.587
        c0.018-0.695-0.044-1.203-0.257-1.854c-0.088-0.271-0.307-0.326-0.378-0.667c-0.052-0.249,0.004-0.589,0.005-0.845
        c0.009-1.676-0.868-2.029-1.598-3.323c-0.459-0.814-0.01-1.264,0.467-1.939c1.213-1.721,2.123-4.343,2.506-6.54l-33.033-7.396
        c0.265,1.946,0.412,3.915,0.413,5.864c0.001,1.94,0.297,4.058-0.451,5.86c-0.661,1.596-2.401,2.6-2.253,4.479
        c0.271,3.424,5.149,4.246,6.418,7.151c0.875,2.006-0.57,3.623-0.253,5.086c0.107,0.496,1.171,1.073,1.39,1.664
        c0.269,0.727,0.161,1.937,0.087,2.705c-0.638,6.724,0.051,13.497,0.366,20.221c0.115,2.459,0.369,3.527,2.141,5.214
        c1.788,1.701,3.142,3.835,2.906,6.461c-0.104,1.146-1.685,2.049-1.206,3.213c0.304,0.736,3.052,2.27,3.824,3.025
        c2.256,2.206,5.347,3.259,8.229,4.599l21.19-15.396C195.131,264.106,195.049,263.813,194.938,263.593z"/>
      <path id="c4_loc4" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M185.554,210.947
        c0.424-3.381-0.859-6.17-3.765-7.966c-0.887-0.548-2.231-0.625-2.699-1.653c-0.263-0.578,0.054-1.474-0.594-1.814
        c-0.514-0.271-1.196,0.262-1.745,0.129c-0.649-0.157-1.45-0.863-1.93-1.307c-0.624-0.575-1.781-1.567-1.89-2.302
        c-0.144-0.966,1.229-2.143,1.959-2.534c1.231-0.659,2.679,0.105,3.934-0.253c1.113-0.317,2.067-2.218,2.794-3.086
        c1.467-1.752,3.043-3.416,4.691-5.001c1.1-1.058,2.359-2.013,3.087-3.417c0.543-1.048,0.735-2.266,1.737-3.026
        c1.087-0.825,2.679-1.043,3.936-1.454c1.91-0.627,3.771-1.189,5.656-1.892c4.636-1.726,8.925-3.99,12.534-7.417
        c1.237-1.174,2.95-1.932,4.034-3.224c1.685-2.009,2.23-3.812,4.997-4.629c1.756-0.521,3.689-1.477,5.487-1.654
        c2.194-0.218,4.311-0.319,6.487-0.797c1.235-0.271,2.94-0.79,4.531-0.945l-3.187-22.871c-1.435,0.138-2.868,0.271-4.29,0.407
        c-2.232,0.213-4.333,0.462-6.635,0.447c-2.418-0.017-3.043,0.682-4.493,2.697c-1.172,1.628-2.855,5.192-4.917,5.857
        c-1.75,0.564-4.941-0.921-6.435-1.708c-2.286-1.204-4.178-3.336-6.512-1.355c-1.8,1.525-3.22,3.729-5.04,5.311
        c-3.353,2.913-7.348,5.197-10.78,7.938c-3.478,2.776-6.943,5.389-10.777,7.756c-4.309,2.661-8.771,4.954-13.024,7.749
        c-3.856,2.532-6.732,5.747-9.542,9.317c-2.42,3.077-3.998,6.966-4.379,10.78c-0.205,2.054,0.771,3.146,1.368,4.917
        c0.495,1.472,0.831,3.378,1.228,4.963c0.436,1.743,0.785,3.543,1.032,5.364l33.033,7.396
        C185.486,211.424,185.524,211.181,185.554,210.947z"/>
      <path id="c4_loc5" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M240.991,156.812
        c2.038,0.538,1.561,3.813,3.439,4.975c1.456,0.9,4.534,1.206,6.364,1.191c1.133-0.008,1.923,0.059,2.878-0.483
        c0.883-0.501,1.591-1.085,2.504-1.416c1.742-0.63,4.139,1.206,5.478,2.458c1.693,1.584,4.145,1.12,6.441,1.121
        c2.58,0.001,5.938,2.308,8.394,1.054c0.635-0.323,0.983-0.972,1.419-1.479c1.031-1.212,1.754-1.435,3.381-1.222
        c0.368,0.048-0.383,5.727-0.123,6.353c0.473,1.141,2.605,1.281,3.617,1.926c1.042,0.665,1.709,1.698,2.457,2.655
        c1.249,1.598,2.635,3.245,4.443,4.227c2.388,1.295,5.237,1.219,7.498,2.794c1.122,0.782,1.991,2.164,2.69,3.697l16.807-12.924
        c-0.445-0.304-0.85-0.629-1.153-0.999c-1.531-1.854-0.83-4.885-3.843-5.589c-0.491-3.361,1.345-7.06-0.156-10.173
        c-1.705-0.25-7.437,0.999-7.636-1.358c-1.091-0.139-2.249,0.704-3.393,0.854c-2.256,0.295-5.832-0.45-7.54-2.06
        c-1.319-1.241-1.329-2.859-1.869-4.461c-0.243-0.719-0.534-1.305-0.913-1.775c-0.607-0.757-1.441-1.22-2.671-1.472
        c-1.876-0.385-2.098,0.236-2.386-1.746c-0.182-1.241,0.184-2.483-0.877-3.454c-0.98-0.896-2.729-0.879-3.936-1.336
        c-1.156-0.438-2.191-1.098-3.264-1.713c-2.509-1.438-5.154-2.922-8.156-2.401c-2.901,0.502-4.031-0.389-5.785-2.518
        c-1.145-1.389-2.877-1.666-4.842-1.239c-1.494,0.325-2.454,1.124-4.143,1.246c-4.065,0.294-8.081,0.831-12.139,1.371
        c-2.784,0.37-5.585,0.653-8.372,0.919l3.187,22.871C239.578,156.629,240.333,156.638,240.991,156.812z"/>
      <path id="c4_loc6" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M303.787,190.076
        c0.438,1.379,0.653,2.81,0.82,4.242c0.074,0.639-0.02,1.31,0.051,1.918c0.075,0.654,0.47,1.188,0.624,1.82
        c0.161,0.658-0.009,1.625-0.017,2.31c-0.009,0.907,0.278,0.771,0.827,1.235c0.851,0.721,0.484,1.425,0.861,2.355
        c0.272,0.675,0.943,1.112,1.396,1.664c0.874,1.067,1.722,2.487,1.989,3.858c0.109,0.56-0.025,0.883-0.05,1.422
        c-0.031,0.747,0.3,1.466,0.231,2.22c-0.086,0.959-0.589,1.678-0.822,2.531c2.229,1.376,1.033,3.19,0.483,5.156
        c-0.442,1.589,0.129,3.13-0.256,4.683c-0.514,2.072-2.076,4.006-3.101,5.854c-1.048,1.89-2.016,3.896-2.275,6.065
        c-0.217,1.803,0.689,3.638,1.626,5.112c0.515,0.81,1.301,1.411,1.818,2.218c0.566,0.882,0.779,1.908,1.27,2.821
        c0.303,0.56,1.223,1.275,1.203,1.962c-0.017,0.612-1.014,1.804-1.358,2.301c-0.57,0.82-1.049,1.495-1.394,2.522
        c-0.198,0.588-0.317,1.398-0.7,1.901c-0.396,0.525-0.639,0.256-0.995,0.604c-0.825,0.804-0.902,1.733-1.175,2.823
        c-0.292,1.169-0.914,1.911-1.47,3.004c-0.452,0.887-0.974,1.501-1.674,2.179c-1.054,1.021-1.514,2.05-1.976,3.498
        c-0.063,0.198-0.132,0.394-0.203,0.588l25.525,21.563c0.604-0.284,1.207-0.564,1.762-0.89c3.407-1.985,6.385-5.943,6.628-9.951
        c0.159-2.632-0.924-5.229,0.854-7.447c1.665-2.078,3.813-3.658,5.462-5.812c1.048-1.367,5.828-5.391,3.972-7.253
        c-0.675-0.678-3.529-0.517-4.422-0.515c-1.438,0.002-2.648,0.003-3.983,0.48c1.714-1.418,2.751-4.093,2.118-6.318
        c-0.497-1.759-2.235-1.818-3.185-2.771c-1.093-1.099-0.908-1.976-0.89-3.493c0.022-1.854-0.176-3.048-1.336-4.523
        c-0.914-1.161-2.676-1.635-3.289-3.04c-0.753-1.723,0.407-3.813,1.209-5.311c1.253-2.343,3.124-3.865,4.832-5.838
        c3.769-4.354,6.945-11.447,4.87-17.25c-0.675-1.885-2.06-2.887-2.241-4.908c-0.244-2.681-0.271-5.567,0.246-8.194
        c0.423-2.159,0.66-4.133-0.575-6.188c-2.506-4.161-6.816-7.05-9.903-10.777c-1.803-2.179-3.383-4.861-5.477-6.77
        c-0.816-0.745-2.026-1.322-3.021-2.002l-16.807,12.924C302.714,186.506,303.308,188.569,303.787,190.076z"/>
    </g>
    <g id="circle5">
      <path id="c5_loc1" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M307.996,244.743
        c-0.519-0.807-1.305-1.409-1.818-2.218c-0.937-1.474-1.843-3.311-1.626-5.112c0.262-2.171,1.229-4.176,2.275-6.065
        c0.034-0.063,0.07-0.124,0.104-0.187l-13.563-1.338c0.084,4.358,0.801,8.636,1.899,13.043c0.713,2.862,1.198,4.098-0.785,6.163
        c-1.407,1.467-2.537,3.207-3.94,4.648c-1.079,1.107-2.159,1.772-2.515,3.404c-0.295,1.35-0.037,2.943-0.547,4.199
        c-0.604,1.494-2.142,2.175-3.348,3.093c-1.333,1.017-1.619,2.411-2.783,3.543c-1.541,1.497-3.666,2.135-5.288,3.518
        c-1.777,1.515-1.937,3.838-3.348,5.588c-1.112,1.379-1.739,1.35-3.437,1.345c-1.264-0.004-2.296,0.122-3.367,0.84
        c-0.406,0.273-0.761,0.848-1.169,1.065c-0.495,0.264-1.33,0.16-1.905,0.396c-0.94,0.389-1.76,1.062-2.772,1.254
        c-0.813,0.155-1.674,0.148-2.521,0.334c-1.854,0.404-3.543-0.415-5.355,0.023c-0.873,0.213-1.008,1.039-1.73,1.413
        c-0.823,0.426-1.457-0.079-2.041-0.766v12.858c1.056,0.42,2.162,0.709,3.296,0.825c0.526,0.055,1.149,0.167,1.64-0.073
        c0.578-0.282,0.786-0.89,1.497-1.023c1.198-0.227,1.741,0.642,2.73,0.851c0.925,0.195,1.641-0.345,2.525-0.168
        c0.962,0.191,1.5,0.953,2.258,0.168c1.273-1.319,0.675-3.865,1.88-5.103c0.651-0.668,1.775-0.349,2.592-0.363
        c0.977-0.021,1.752-0.223,2.48-0.872c1.747-1.558,3.59-2.568,5.843-3.32c1.794-0.6,3.597-0.81,5.39-1.408
        c2.108-0.703,4.103-1.457,6.093-2.45c4.404-2.201,5.732-2.392,11.467-8.816c1.36-1.524,1.012-3.763,1.62-5.672
        c0.462-1.448,0.922-2.477,1.975-3.498c0.7-0.678,1.222-1.292,1.674-2.179c0.556-1.092,1.178-1.835,1.47-3.004
        c0.271-1.088,0.35-2.02,1.176-2.823c0.355-0.347,0.598-0.078,0.994-0.604c0.383-0.503,0.503-1.313,0.7-1.901
        c0.346-1.027,0.822-1.702,1.394-2.522c0.346-0.497,1.343-1.688,1.358-2.301c0.02-0.686-0.9-1.402-1.203-1.962
        C308.775,246.651,308.563,245.625,307.996,244.743z"/>
      <path id="c5_loc2" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M246.571,281.025
        c-0.966-0.364-2.424-0.313-3.496-0.521c-1.425-0.278-2.869-0.464-4.324-0.458c-0.854,0.003-1.489-0.009-2.24,0.344
        c-0.78,0.362-1.218,1.023-2.192,0.729c-0.267-1.004-0.886-1.922-1.792-2.395c-0.565-0.294-1.271-0.504-1.897-0.575
        c-0.436-0.05-1.244,0.095-1.624-0.119c-2.103-1.186-0.447-4.816-1.093-6.556c-0.508-1.367-1.59-2.733-2.171-4.143
        c-0.616-1.494-1.202-3.01-2.101-4.362c-2.378-3.58-6.421-6.141-10.243-7.956c-2.425-1.152-4.898,0.177-7.257-0.488
        c-1.722-1.041-7.141-7.138-4.701-14.464c-0.493-1.104-1.656-1.402-2.12-2.58c-0.721-1.832-0.007-3.931-0.298-5.835
        c-0.214-1.401-0.447-3.062-0.626-4.84H184.7c0,0.012,0,0.021,0,0.033c-0.024,0.956-0.71,1.638-0.449,2.586
        c0.256,0.932,0.887,1.457,0.722,2.513c-0.323,2.06-0.862,4.456-1.674,6.378c-0.553,1.31-1.019,1.878-0.628,3.362
        c0.391,1.481,1.116,2.507,2.092,3.641c0.977,1.136,2.484,2.119,3.227,3.423c0.569,1-0.042,2.248-0.138,3.298
        c-0.05,0.551,0.003,1.127,0,1.682c-0.008,1.104,0.343,1.504,1.097,2.259c0.779,0.777,1.468,1.64,1.72,2.735
        c0.171,0.744-0.053,1.709,0.333,2.393c0.852,1.504,3.091,0.802,3.938,2.484c0.395,0.783,0.431,2.476,1.309,2.908
        c0.773,0.383,2.1-0.071,2.782-0.335c1.689-0.649,4.197-1.67,5.624-0.053c1.393,1.578,1.791,3.912,3.412,5.246
        c1.425,1.173,1.975,3.063,3.727,3.833c1.353,0.594,2.838,0.65,4.216,1.156c1.239,0.452,2.285,1.494,2.949,2.604
        c0.773,1.292,1.76,2.396,2.696,3.564c0.915,1.145,0.898,1.914,1.102,3.303c0.568,0.282,1.565,0.252,2.021,0.709
        c0.689,0.691,0.011,1.763,1.088,2.063c1.045,0.29,2.066-0.202,3.089-0.322c0.864-0.104,1.827-0.051,2.688,0.076
        c2.13,0.315,4.311,0.994,6.333,1.72c3.335,1.195,5.954,3.451,9.11,5.109c0.434,0.229,0.879,0.431,1.333,0.61v-12.859
        C247.8,282.203,247.238,281.276,246.571,281.025z"/>
      <path id="c5_loc3" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M200.587,210.594
        c1.187-1.618,1.799-3.491,1.747-5.507c-0.042-1.612-1.333-3.686-0.845-5.154c0.361-1.086,2.744-1.898,3.591-2.568
        c3.149-2.489,3.344-6.364,4.997-9.741c2.022-4.131,4.054-8.3,8.831-9.702c2.723-0.8,5.646-0.837,8.484-1.229l-6.668-15.894
        c-1.5,0.947-2.125,2.377-3.43,3.933c-1.083,1.292-2.797,2.05-4.034,3.224c-3.609,3.426-7.898,5.69-12.534,7.417
        c-1.886,0.702-3.746,1.264-5.656,1.892c-1.256,0.412-2.849,0.629-3.936,1.455c-1.001,0.76-1.193,1.978-1.737,3.025
        c-0.728,1.404-1.987,2.358-3.087,3.417c-1.648,1.585-3.225,3.249-4.691,5.001c-0.727,0.868-1.681,2.769-2.794,3.086
        c-1.255,0.358-2.703-0.404-3.934,0.253c-0.73,0.392-2.104,1.568-1.959,2.534c0.109,0.734,1.266,1.728,1.89,2.302
        c0.48,0.443,1.281,1.149,1.93,1.307c0.549,0.133,1.231-0.4,1.745-0.129c0.648,0.342,0.332,1.237,0.594,1.814
        c0.468,1.028,1.812,1.105,2.699,1.653c2.905,1.795,4.189,4.585,3.765,7.966c-0.292,2.318-1.268,5.349-2.616,7.263
        c-0.477,0.677-0.926,1.125-0.467,1.939c0.73,1.294,1.607,1.647,1.598,3.323c-0.001,0.256-0.058,0.596-0.005,0.845
        c0.072,0.341,0.29,0.396,0.378,0.667c0.209,0.639,0.271,1.142,0.257,1.819h13.696C197.831,221.199,197.802,214.391,200.587,210.594
        z"/>
      <path id="c5_loc4" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M229.468,176.322
        c1.924-0.439,3.854-0.986,5.741-1.566c0.734-0.226,1.157-0.217,1.628-0.71c0.414-0.434,0.101-1.47,0.851-1.767
        c1.061-0.42,1.389,0.724,2.115,1.132c1.461,0.821,3.669,0.925,5.376,1.065c2.394,0.196,4.309-0.592,6.183,1.104
        c0.855,0.776,1.458,1.586,2.514,2.18c1.436,0.805,3.123,0.773,4.557,1.597c1.284,0.737,2.305,1.497,3.723,2.063
        c1.432,0.572,3.1,1.585,4.623,1.819c1.367,0.21,2.765-0.369,4.181-0.032c0.563,0.134,0.988,0.394,1.381,0.693l8.988-18.785
        c0.075-1.149,0.108-2.084-0.039-2.103c-1.627-0.213-2.349,0.01-3.381,1.222c-0.435,0.508-0.784,1.156-1.419,1.479
        c-2.456,1.255-5.814-1.053-8.394-1.054c-2.296-0.001-4.748,0.463-6.441-1.121c-1.338-1.253-3.736-3.088-5.478-2.458
        c-0.913,0.33-1.621,0.914-2.504,1.416c-0.956,0.542-1.745,0.476-2.878,0.483c-1.83,0.014-4.908-0.291-6.364-1.191
        c-1.878-1.162-1.402-4.438-3.439-4.975c-1.992-0.526-4.883,0.435-6.727,0.839c-2.177,0.478-4.293,0.579-6.487,0.797
        c-1.797,0.178-3.731,1.134-5.487,1.654c-0.624,0.185-1.13,0.421-1.567,0.697l6.668,15.893
        C228.09,176.595,228.783,176.478,229.468,176.322z"/>
      <path id="c5_loc5" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M273.453,184.791
        c0.117,0.084,0.239,0.166,0.369,0.243c1.986,1.185,4.314,1.329,6.372,2.381c0.894,0.457,1.925,0.573,2.738,1.113
        c0.801,0.531,1.225,1.419,2.094,1.834c0.972,0.463,2.192,0.256,3.298,0.343c4.925,0.389,6.709,5.651,7.919,9.802
        c2.333,8.007-1.059,13.831-2.325,21.565c-0.433,2.639-0.599,5.208-0.548,7.75l13.563,1.338c1.022-1.792,2.499-3.666,2.995-5.668
        c0.386-1.553-0.188-3.094,0.256-4.683c0.55-1.966,1.744-3.78-0.483-5.156c0.233-0.854,0.736-1.572,0.823-2.531
        c0.066-0.754-0.265-1.473-0.232-2.22c0.023-0.54,0.159-0.863,0.05-1.422c-0.269-1.371-1.115-2.791-1.989-3.858
        c-0.451-0.552-1.122-0.989-1.396-1.664c-0.377-0.931-0.012-1.635-0.861-2.355c-0.549-0.465-0.836-0.328-0.827-1.235
        c0.008-0.686,0.178-1.651,0.017-2.31c-0.154-0.631-0.549-1.166-0.624-1.82c-0.069-0.608,0.023-1.279-0.051-1.918
        c-0.167-1.434-0.382-2.863-0.82-4.242c-0.879-2.76-2.132-7.388-4.604-9.111c-2.261-1.575-5.11-1.499-7.499-2.794
        c-1.809-0.981-3.193-2.629-4.442-4.227c-0.748-0.957-1.415-1.99-2.457-2.655c-1.013-0.645-3.146-0.785-3.617-1.926
        c-0.155-0.374,0.05-2.547,0.162-4.25l-8.988,18.785C272.71,184.183,273.052,184.502,273.453,184.791z"/>
    </g>
    <g id="circle6">
      <path id="c6_loc1" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M296.241,200.507
        c-0.156-0.534-0.321-1.089-0.503-1.647l-14.176,6.866c0.008,0.192,0.018,0.387,0.033,0.583c0.102,1.22,0.807,2.399,1.238,3.563
        c0.504,1.359,0.96,2.737,1.532,4.07c1.181,2.749,2.526,5.647,2.446,8.708c-0.021,0.787,0.119,2.653-0.238,3.333
        c-0.387,0.729-1.529,0.689-2.111,1.194c-0.98,0.848-0.957,2.285-1.831,3.206c-0.815,0.859-2.108,1.127-3.057,1.812
        c-1.606,1.159-2.646,3.493-2.992,4.306h0.001c-0.196,0.477-0.34,0.977-0.409,1.499c-0.119,0.89,0.16,1.686,0.152,2.542
        c-0.007,0.799-0.295,1.312-0.683,2.059c-1.577,3.033-3.379,6.011-6.198,8.05c-1.661,1.202-3.958,1.439-5.744,2.539
        c-2.078,1.276-3.242,3.334-5.38,4.547c-0.208,0.118-0.423,0.227-0.64,0.334l6.313,22.387c0.278-0.033,0.541-0.079,0.745-0.188
        c0.408-0.219,0.763-0.792,1.169-1.065c1.071-0.718,2.103-0.844,3.367-0.84c1.698,0.005,2.325,0.034,3.437-1.345
        c1.411-1.75,1.57-4.073,3.348-5.588c1.623-1.384,3.748-2.021,5.289-3.518c1.164-1.132,1.449-2.526,2.782-3.543
        c1.206-0.918,2.742-1.599,3.349-3.093c0.508-1.256,0.25-2.85,0.545-4.199c0.355-1.631,1.437-2.296,2.516-3.405
        c1.402-1.44,2.533-3.181,3.941-4.647c1.982-2.065,1.498-3.301,0.783-6.163c-1.738-6.978-2.524-13.629-1.352-20.793
        C295.184,214.338,298.574,208.514,296.241,200.507z"/>
      <path id="c6_loc2" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M254.406,259.942
        c-0.724,0.664-0.676,1.444-1.137,2.203c-0.461,0.761-0.965,0.749-1.907,0.95c-2.003,0.427-4.058,0.648-6.107,0.537
        c-0.687-0.036-1.355-0.025-2.014-0.101c-0.413-0.046-0.821-0.124-1.227-0.27c-2.234-0.798-4.34-2.022-6.588-2.691
        c-1.569-0.468-2.959-0.63-4.017-2.104c-0.743-1.035-1.269-2.189-1.89-3.298c-0.465-0.83-1.182-1.305-1.671-2.033
        c-0.553-0.823-0.17-1.817-0.668-2.655c-0.343-0.578-0.889-0.75-1.388-1.167c-0.701-0.585-0.866-1.425-1.789-1.763
        c-0.752-0.273-1.654,0.11-2.395-0.25c-0.721-0.35-0.76-0.938-1.146-1.562c-0.505-0.815-1.283-1.248-1.88-1.977
        c-0.915-1.118-1.5-2.438-1.782-3.842l-15.046,8.674c-0.152,1.248,4.115,5.854,4.387,5.93c2.359,0.665,4.833-0.667,7.258,0.484
        c3.822,1.816,7.864,4.375,10.243,7.956c0.899,1.354,1.485,2.869,2.101,4.363c0.581,1.408,1.663,2.774,2.171,4.143
        c0.646,1.738-1.009,5.369,1.093,6.556c0.379,0.214,1.188,0.069,1.624,0.119c0.626,0.07,1.332,0.28,1.897,0.575
        c0.906,0.473,1.526,1.391,1.792,2.395c0.974,0.296,1.412-0.365,2.192-0.729c0.751-0.353,1.386-0.341,2.24-0.344
        c1.455-0.006,2.899,0.18,4.324,0.458c1.072,0.21,2.529,0.157,3.496,0.521c1.299,0.489,2.195,3.542,3.887,2.667
        c0.722-0.374,0.857-1.2,1.73-1.413c1.812-0.439,3.501,0.381,5.355-0.023c0.848-0.186,1.708-0.179,2.521-0.334
        c1.012-0.192,1.832-0.865,2.772-1.254c0.338-0.14,0.764-0.161,1.16-0.21l-6.313-22.387
        C256.556,258.626,255.339,259.084,254.406,259.942z"/>
      <path id="c6_loc3" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M216.671,239.13
        c-0.279-2.401-1.175-5.039-2.955-6.751c-1.197-1.151-1.157-1.743-1.099-3.454v-0.005c0.062-1.815,0.282-3.666-0.164-5.454
        c-0.52-2.085-1.406-4.074-1.942-6.164c-0.474-1.847,0.502-3.75,0.236-5.698c-0.131-0.961-0.454-2.104-0.031-3.045
        c0.504-1.124,1.683-1.63,2.501-2.475c0.368-0.379,0.543-0.848,0.854-1.231c0.232-0.287,0.775-0.589,0.958-0.901
        c0.313-0.536,0.283-1.419,0.134-2.043c-0.327-1.36-0.851-2.679,0.904-3.081c0.352-0.081,0.737-0.064,1.125-0.037l-8.766-6.752
        c-0.697,1.995-1.53,3.892-3.346,5.326c-0.847,0.669-3.23,1.481-3.591,2.568c-0.488,1.469,0.803,3.542,0.845,5.154
        c0.052,2.016-0.56,3.889-1.747,5.507c-3.669,5.002-2.457,15.234-1.566,21.051c0.292,1.904-0.423,4.003,0.298,5.835
        c0.464,1.178,1.627,1.476,2.12,2.58c-1.282,4.773-0.479,5.604,0.314,8.537l15.046-8.674
        C216.748,239.662,216.702,239.397,216.671,239.13z"/>
      <path id="c6_loc4" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M218.307,198.827
        c1.098-0.093,0.824-0.097,1.463-0.771c0.958-1.012,1.72-2.333,2.807-3.114c1.502-1.08,3.166-2.04,4.763-2.979
        c0.921-0.542,1.934-1.621,3.097-1.417c1.134,0.199,1.53,0.683,2.688,0.521c1.098-0.152,2.217-0.304,3.35-0.362
        c1.106-0.057,2.148,0.164,3.251,0.104c2.026-0.109,3.993-0.619,5.971-1.033c0.853-0.179,1.967-0.56,2.876-0.532
        c0.072,0.002,0.145,0.001,0.214,0.009c0.849,0.094,1.334,0.792,2.182,1.031c0.739,0.208,1.593,0.219,2.387,0.288l2.229-12.167
        c-0.588-0.157-1.167-0.342-1.71-0.646c-1.056-0.594-1.658-1.403-2.514-2.18c-1.874-1.698-3.789-0.909-6.183-1.104
        c-1.707-0.142-3.915-0.244-5.376-1.065c-0.726-0.408-1.054-1.552-2.115-1.132c-0.75,0.297-0.437,1.333-0.851,1.767
        c-0.471,0.493-0.894,0.484-1.628,0.71c-1.886,0.58-3.817,1.127-5.741,1.566c-3.464,0.792-7.167,0.604-10.561,1.6
        c-4.777,1.402-6.808,5.571-8.831,9.702c-0.7,1.431-1.139,2.949-1.651,4.415l8.766,6.752
        C217.571,198.818,217.953,198.857,218.307,198.827z"/>
      <path id="c6_loc5" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M253.828,190.624
        c1.743,0.236,3.497,0.391,5.24,0.623c0.698,0.093,1.719,0.068,2.361,0.342c0.616,0.264,0.993,0.88,1.618,1.146
        c0.774,0.33,1.671,0.144,2.542,0.252c0.068,0.886,0.604,0.79,1.162,1.08c0.761,0.396,0.848,0.401,1.337,1.182
        c1.047,1.671,3.272,2.59,5.022,3.421c0.798,0.379,1.146,0.658,1.996,0.522c0.809-0.129,1.466-0.737,2.33-0.715
        c1.123,0.027,2.014,0.507,2.756,1.336c1.595,1.783,1.285,3.786,1.371,5.912l14.176-6.866c-1.221-3.779-3.127-7.816-7.416-8.154
        c-1.104-0.087-2.326,0.12-3.299-0.343c-0.868-0.415-1.293-1.303-2.092-1.834c-0.814-0.54-1.847-0.657-2.738-1.113
        c-2.059-1.052-4.386-1.196-6.373-2.381c-0.129-0.077-0.251-0.159-0.369-0.243c-0.825-0.594-1.4-1.324-2.494-1.584
        c-1.416-0.336-2.813,0.242-4.181,0.032c-1.523-0.234-3.191-1.247-4.623-1.819c-1.418-0.565-2.439-1.325-3.723-2.063
        c-0.892-0.511-1.881-0.693-2.847-0.951l-2.229,12.167C253.516,190.587,253.674,190.603,253.828,190.624z"/>
    </g>
    <g id="circle7">
      <path id="c7_loc1" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M276.25,236.379l-9.126-3.33
        c-0.35,0.427-0.703,0.857-1.042,1.293c-0.846,1.09-1.596,2.199-1.95,3.271c-0.546,1.654,1.456,1.738,1.96,3.217
        c0.373,1.093-0.469,2.554-1.538,3.129c-1.268,0.684-2.986-0.338-4.179,0.568c-1.024,0.778-1.017,2.328-1.943,3.215
        c-0.967,0.925-2.319,0.207-3.241,1.132c-0.601,0.604-0.157,1.765-1.023,2.064c-1.444,0.5-3.156-1.419-4.662-1.358
        c-0.493,0.021-0.951,0.159-1.42,0.281l0.971,13.624c0.774-0.096,1.543-0.229,2.306-0.391c0.942-0.201,1.446-0.189,1.907-0.95
        c0.461-0.759,0.414-1.539,1.137-2.203c1.113-1.023,2.63-1.477,3.917-2.206c2.138-1.213,3.302-3.271,5.38-4.547
        c1.787-1.099,4.083-1.337,5.744-2.539c2.819-2.04,4.621-5.017,6.198-8.05c0.388-0.747,0.676-1.26,0.683-2.059
        c0.008-0.856-0.271-1.652-0.152-2.542c0.069-0.522,0.213-1.022,0.409-1.499h-0.001c-0.002,0.005-0.005,0.012-0.007,0.018
        C276.47,236.47,276.359,236.425,276.25,236.379z"/>
      <path id="c7_loc2" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M246.767,250.049
        c-1.296-0.047-2.546-0.492-3.853-0.441c-2.272,0.089-3.714,2.108-6.026,1.965c-2.622-0.164-2.424-1.385-2.195-3.594
        c0.1-0.959,0.031-3.565-0.984-4.071c-0.712-0.354-0.997,0.236-1.68,0.29c-0.72,0.057-1.052-0.322-1.684-0.388
        c-1.135-0.12-1.148,1.008-2.009,0.997c-0.714-0.011-2.141-1.736-2.399-2.324c-0.308-0.701-0.245-1.913-0.423-2.695
        c-0.412-1.794-1.024-3.572-0.746-5.438c0.231-1.549,0.984-2.942,1.165-4.479c0.06-0.504,0.194-1.672-0.032-2.208
        c-7.148,0.68-13.285,1.265-13.285,1.268c-0.058,1.709-0.098,2.302,1.099,3.453c1.78,1.713,2.676,4.35,2.955,6.751
        c0.197,1.696,0.825,3.309,1.911,4.635c0.597,0.729,1.375,1.162,1.88,1.977c0.386,0.623,0.425,1.211,1.146,1.563
        c0.741,0.358,1.643-0.025,2.395,0.25c0.923,0.337,1.088,1.177,1.789,1.762c0.499,0.417,1.045,0.589,1.388,1.167
        c0.499,0.837,0.115,1.832,0.668,2.655c0.489,0.729,1.206,1.205,1.671,2.033c0.621,1.108,1.146,2.263,1.89,3.299
        c1.058,1.473,2.448,1.636,4.017,2.104c2.249,0.669,4.354,1.896,6.588,2.691c0.406,0.146,0.814,0.224,1.227,0.27
        c0.658,0.074,1.327,0.063,2.014,0.102c1.27,0.067,2.542,0.01,3.802-0.147l-0.971-13.624
        C247.667,249.971,247.24,250.066,246.767,250.049z"/>
      <path id="c7_loc3" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M250.969,190.441
        c-0.848-0.239-1.094-0.86-2.008-0.86c-1.119,0.119-2.411,0.175-3.264,0.353c-1.978,0.414-3.945,0.923-5.971,1.033
        c-1.103,0.06-2.145-0.161-3.251-0.104c-1.133,0.059-2.252,0.21-3.35,0.362c-1.158,0.161-1.555-0.323-2.688-0.521
        c-1.163-0.203-2.176,0.875-3.097,1.417c-1.597,0.939-3.26,1.898-4.763,2.979c-1.087,0.781-1.849,2.103-2.807,3.114
        c-0.639,0.674-0.366,0.678-1.463,0.771c-0.714,0.062-1.544-0.159-2.24,0.001c-1.755,0.402-1.231,1.72-0.904,3.081
        c0.149,0.624,0.18,1.507-0.134,2.043c-0.183,0.313-0.725,0.614-0.958,0.901c-0.311,0.384-0.486,0.854-0.854,1.231
        c-0.818,0.845-1.997,1.351-2.501,2.475c-0.423,0.942-0.1,2.084,0.031,3.045c0.266,1.947-0.71,3.852-0.236,5.698
        c0.537,2.09,1.423,4.079,1.942,6.165c0.446,1.787,0.225,3.638,0.164,5.453l13.284-1.263c-0.014-0.032-0.023-0.069-0.04-0.097
        c-0.016-0.026-1.428-3.044-1.971-4.304c-0.844-1.956,0.262-3.135,0.861-4.901c0.333-0.984-0.103-1.094-0.258-2.033
        c-0.124-0.742,0.257-1.304,0.163-2.168c0.866-0.616,1.908-0.505,2.054-0.805c0.321-0.661,0.068-1.544,0.081-2.241
        c0,0-1.166-1.614,4.029-4.448c0.281-0.256,3.505-3.217,4.737-3.439c1.05-0.188,1.871,0.159,2.842-0.186
        c1.351-0.479,2.538-0.454,3.888-0.758c1.107-0.25,2.219-1.114,3.313-1.243c0.768-0.091,2.51,0.149,2.731,0.246
        c0.71,0.312,1.692,1.812,1.829,1.831l2.1-12.624C251.814,190.609,251.374,190.555,250.969,190.441z"/>
      <path id="c7_loc4" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M286.814,222.649
        c0.08-3.061-1.268-5.959-2.447-8.708c-0.572-1.333-1.028-2.71-1.532-4.07c-0.433-1.164-1.138-2.344-1.239-3.563
        c-0.193-2.343,0.336-4.548-1.404-6.494c-0.741-0.83-1.631-1.31-2.756-1.336c-0.863-0.022-1.521,0.585-2.329,0.715
        c-0.85,0.136-1.198-0.145-1.996-0.522c-1.75-0.831-3.975-1.75-5.022-3.421c-0.489-0.779-0.576-0.785-1.337-1.182
        c-0.557-0.291-1.093-0.194-1.162-1.08c-0.87-0.109-1.767,0.078-2.542-0.252c-0.625-0.267-1.002-0.883-1.618-1.146
        c-0.643-0.273-1.664-0.249-2.361-0.342c-1.744-0.232-3.497-0.387-5.24-0.623c-0.499-0.066-1.037-0.089-1.568-0.133l-2.1,12.624
        c0.719,0.104,1.407-0.614,2.136-0.58c1.066,0.05,2.266,1.208,3.084,1.789c0.93,0.659,2.232,1.141,3.335,1.389
        c1.255,0.283,2.521-0.482,3.668-0.133c0.505,0.155,0.735,0.558,1.187,0.774c0.85,0.409,2.194,0.491,2.632,1.568
        c0.51,1.256-0.503,4.682,1.1,5.481c1.105,0.552,1.497-0.41,2.324,0.757c0.408,0.576,0.413,1.248,0.664,1.88
        c0.305,0.77,0.833,1.287,1.242,1.985c0.386,0.66,0.482,1.247,0.509,1.896c0.014,0.317,0.011,0.649,0.018,1.013
        c0.073,3.637-0.952,6.486-2.94,9.53c-0.526,0.807-1.253,1.68-1.997,2.583c3.026,1.09,6.19,2.07,9.125,3.332l0.334,0.122
        c0.347-0.813,1.386-3.146,2.992-4.306c0.947-0.684,2.24-0.951,3.057-1.811c0.874-0.921,0.852-2.359,1.831-3.207
        c0.582-0.505,1.726-0.465,2.111-1.194C286.934,225.303,286.794,223.437,286.814,222.649z"/>
    </g>
    <g id="circle8">
      <path id="c8_loc1" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M266.082,234.342
        c1.058-1.361,2.266-2.691,3.04-3.878c1.988-3.044,3.013-5.894,2.94-9.53c-0.007-0.362-0.004-0.694-0.018-1.013
        c-0.027-0.648-0.123-1.234-0.509-1.896c-0.409-0.698-0.937-1.216-1.242-1.985c-0.251-0.632-0.256-1.305-0.664-1.88
        c-0.827-1.167-1.218-0.205-2.324-0.757c-1.603-0.8-0.59-4.226-1.1-5.481c-0.438-1.078-1.783-1.159-2.632-1.568
        c-0.452-0.217-0.682-0.619-1.188-0.774c-0.751-0.229-1.554,0.02-2.371,0.14l-4.033,6.378c1.047,0.669,1.993,1.554,2.383,2.641
        c0.701,1.951-0.446,3.999,0.665,5.922c0.835,1.448,2.31,2.778,2.377,4.552c0.033,0.875-0.264,1.478-0.144,2.398
        c0.012,0.094,0.025,0.186,0.04,0.276c0.247,1.576,0.739,2.597-0.062,4.154c-0.739,1.438-2.147,2.225-2.998,3.569
        c-0.613,0.97-0.118,2.065-0.503,3.045c-0.315,0.801-1.178,1.323-1.889,1.824c-0.184,0.129-0.373,0.251-0.563,0.37l3.446,6.538
        c0.639-0.902,0.743-2.181,1.642-2.862c1.193-0.906,2.911,0.114,4.179-0.568c1.068-0.575,1.911-2.036,1.538-3.129
        c-0.504-1.479-2.506-1.563-1.96-3.217C264.485,236.541,265.235,235.432,266.082,234.342z"/>
      <path id="c8_loc2" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M249.8,242.607
        c-1.324,0.054-2.424-0.478-3.438-1.282c-0.405-0.321-0.797-0.922-1.246-1.153c-0.524-0.27-1.166-0.027-1.683-0.406
        c-0.479-0.352-0.239-0.873-0.903-1.348c-1.481-1.058-3.922-0.768-5.581-1.561c-1.612-0.772-3.26-2.81-4.414-4.135
        c-0.673-0.773-1.313-1.64-1.851-2.561l-5.127,1.354c-0.287,0.932-0.642,1.851-0.789,2.831c-0.278,1.866,0.334,3.645,0.746,5.438
        c0.179,0.783,0.115,1.994,0.423,2.695c0.259,0.588,1.686,2.313,2.399,2.324c0.86,0.012,0.874-1.117,2.009-0.997
        c0.631,0.065,0.964,0.444,1.684,0.388c0.683-0.054,0.968-0.646,1.68-0.29c1.015,0.506,1.083,3.112,0.984,4.071
        c-0.229,2.209-0.426,3.431,2.195,3.594c2.312,0.144,3.754-1.876,6.026-1.965c1.306-0.051,2.556,0.395,3.853,0.441
        c1.004,0.036,1.807-0.431,2.739-0.468c1.506-0.061,3.218,1.858,4.662,1.358c0.866-0.3,0.422-1.462,1.023-2.064
        c0.922-0.926,2.273-0.207,3.241-1.132c0.113-0.108,0.212-0.227,0.301-0.353l-3.446-6.538
        C253.635,241.888,251.763,242.528,249.8,242.607z"/>
      <path id="c8_loc3" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M230.045,222.4
        c1.587-2.877,5.424-2.744,6.45-7.238c0.182-0.798,1.63-1.818,2.766-1.756c1.176-0.281,0.709-0.926,1.642-0.829
        c1.211,0.129,1.749,0.868,3.058,0.815c1.524-0.061,3.095-0.449,4.581-0.771c2.162-0.469,3.327-2.397,5.61-1.466
        c0.586,0.24,1.226,0.555,1.831,0.942l4.033-6.378c-0.43,0.063-0.865,0.091-1.298-0.007c-1.104-0.249-2.406-0.729-3.335-1.389
        c-0.818-0.581-2.019-1.739-3.084-1.789c-0.869-0.041-1.679,0.989-2.554,0.423c-0.831-0.538-0.357-0.926-1.414-1.52
        c-0.449-0.42-1.961-0.491-2.729-0.4c-1.095,0.129-2.207,0.994-3.313,1.243c-1.35,0.305-2.499,0.264-3.85,0.744
        c-0.971,0.345-1.83,0.01-2.88,0.2c-1.231,0.223-2.65,1.475-3.775,2.533c-0.355,0.334-0.681,0.649-0.962,0.906
        c-1.479,1.353-4.094,1.929-4.136,4.09c-0.013,0.697,0.347,1.938,0.026,2.599c-0.146,0.3-1.533,0.23-1.962,0.709
        c-0.541,0.604-0.27,1.665-0.255,2.264c0.156,0.938,0.592,1.049,0.258,2.033c-0.599,1.767-1.705,2.945-0.861,4.902
        c0.543,1.259,1.955,4.275,1.971,4.303c0.288,0.481,0.135,1.771,0.072,2.306c-0.066,0.564-0.21,1.108-0.376,1.648l5.127-1.354
        C229.29,227.77,228.616,224.993,230.045,222.4z"/>
    </g>
    <g id="circle9">
      <path id="c9_loc1" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" d="M260.133,227.858
        c0.229,1.458,0.684,2.399-0.057,3.841c-0.683,1.328-1.985,2.055-2.771,3.298c-0.566,0.896-0.109,1.91-0.465,2.815
        c-0.291,0.74-1.089,1.223-1.746,1.686c-1.647,1.161-3.568,1.884-5.592,1.966c-1.224,0.051-2.241-0.44-3.178-1.185
        c-0.374-0.297-0.736-0.853-1.151-1.066c-0.485-0.25-1.078-0.025-1.556-0.376c-0.442-0.323-0.221-0.806-0.834-1.244
        c-1.37-0.979-3.625-0.709-5.159-1.443c-1.49-0.713-3.013-2.596-4.08-3.822c-2.24-2.573-4.131-6.222-2.301-9.541
        c1.466-2.66,5.802-3.312,5.961-6.689c0.049-1.049,0.117-1.438,1.076-1.686c0.477-0.123,1.002,0.208,1.48,0.063
        c0.646-0.197,0.656-0.856,1.518-0.767c1.119,0.12,1.616,0.803,2.826,0.754c1.409-0.056,2.861-0.416,4.234-0.713
        c1.998-0.433,3.075-2.217,5.185-1.354c1.479,0.604,3.326,1.726,3.895,3.312c0.647,1.804-0.413,3.696,0.614,5.475
        c0.772,1.338,2.135,2.567,2.197,4.208c0.031,0.809-0.244,1.364-0.133,2.217C260.107,227.69,260.12,227.775,260.133,227.858z"/>
    </g>
  </svg>
  <div id="mapInfo">
    <div class="fate">  
      <div id="good" class="buttons_m">1</div>
      <div id="gluck" class="buttons_m">2</div>
      <div id="next" class="buttons_m"></div>
    </div>
  </div>
  <div id="closemap" class="closeAddWindow"></div>
</div>
<script type="text/javascript">
  var circ = 0
  var green = 0

  var Gluck = new Array(0,0)
  var GluckColor = [200,120]
  var GluckColor2 = [210,150]
  var GluckColor3 = [210,150]

   Colors = ['#00FF00','#00D000','#00B000','#009000','#007000','#005000','#003000','#001000','#000000']
   Circles = [['#c1_loc1', '#c1_loc2', '#c1_loc3', '#c1_loc4', '#c1_loc5', '#c1_loc6', '#c1_loc7', '#c1_loc8'], 
     ['#c2_loc1','#c2_loc2','#c2_loc3','#c2_loc4','#c2_loc5','#c2_loc6','#c2_loc7'],
     ['#c3_loc1','#c3_loc2','#c3_loc3','#c3_loc4','#c3_loc5','#c3_loc6','#c3_loc7'],
     ['#c4_loc1','#c4_loc2','#c4_loc3','#c4_loc4','#c4_loc5','#c4_loc6'],
     ['#c5_loc1','#c5_loc2','#c5_loc3','#c5_loc4','#c5_loc5'],
     ['#c6_loc1','#c6_loc2','#c6_loc3','#c6_loc4','#c6_loc5'],
     ['#c7_loc1','#c7_loc2','#c7_loc3','#c7_loc4'],
     ['#c8_loc1','#c8_loc2','#c8_loc3'],
     ['#c9_loc1']]

    
   

  function start(){ 
      var circle = Circles[circ]
      var object = Circles[circ][0]
      var color = Colors[green]
      
      addHover(object,circle,color)
  }

  var addHover = function(object,circle,color){
    $(object).hover(function(){
      $(this).css({'stroke':'#6c2800','stroke-width':'1.5'})
      },
    function(){
      $(this).css({'stroke':'#A8A8A8','stroke-width':'1.5'})
    })
    .css({'stroke':'#A8A8A8','stroke-width':'1.5'})
  addClick(object,circle,color);
  };

  var addClick = function(object,circle,color){
    $(object).one('click', function(){
      $(this).off('hover')
      if (object == circle[0]){
        $('.fate').find('div').css('display','block')
        .filter('#next').css('display','none');

        good(object,circle,color);
      
        var color2 = randGluckColor();
        gluck(object,circle,color2);
        
        choose(object,circle);
      }
      else{ fillCircle(object,circle,color)
      }
    });
  };

  var randGluckColor = function(){
    console.log(r,g,b, Gluck )
    el1 =  Math.floor(Math.random()*(GluckColor[0]-GluckColor[1])+GluckColor[1])
    el2 =  Math.floor(Math.random()*(GluckColor2[0]-GluckColor2[1])+GluckColor2[1])
    el3 =  Math.floor(Math.random()*(GluckColor3[0]-GluckColor3[1])+GluckColor3[1])
    sd = Gluck.map(function(){
      Gluck[0] = el1
      Gluck[1] = el2
      Gluck[2] = el3
      })
    Gluck.sort(function() { return 0.5 - Math.random() });

    var r = Gluck[0]
    var g = Gluck[1]
    var b = Gluck[2]
      var color2 = 'rgb('+r+','+g+','+b+')'
      
      console.log(r,g,b, Gluck )
    return color2}

  var good = function(object,circle,color){
    $('#good').off('click');
    $('#good').on('click', function (){
      for(i=0; i<circle.length; i++){
        $(circle[i]).css({'fill':color, 'stroke':color})
        }
        
      $(object).css('fill-opacity','1')
      $(this).siblings('#next').css('display','block')
    }); 
  }
  var gluck = function(object,circle,color2){
    $('#gluck').off('click');
    $('#gluck').on('click', function (){
      for(i=0; i<circle.length; i++){
        $(circle[i]).css({'fill':color2, 'stroke':color2})
        }
      $(object).css('fill-opacity','1')
      $(this).siblings('#next').css('display','block');
      //console.log(1);
    });
  }
  var choose = function(object,circle){
    $('#next').one('click', function(){
      $(object).css('stroke','none')
      $(this).closest('.fate').find('div').css('display','none');
      nextElem(object,circle);
      if (circ < 8){nextCirc(object,circle);}
      else{ alert('End');
      }
      });
    };
  var nextCirc = function(object,circle){
    circ = circ+1
    green = green+1
    GluckColor = GluckColor.map(function (item) {
    return item - 30;
  });
  GluckColor2 = GluckColor2.map(function (item) {
    return item - 20;
  });
  GluckColor3 = GluckColor3.map(function (item) {
    return item - 17;
  }); 
    var circle2 = Circles[circ]
    var object2 = Circles[circ][0]
    var color = Colors[green]
    addHover(object2,circle2,color);
    };

  var nextElem = function(object,circle){
      var loc = 1
      var object2 = circle[loc]
      var color = ''
      addHover(object2,circle,loc)
    };
  var fillCircle = function(object,circle,loc){
    if (loc < circle.length){$(object).css({'fill-opacity':'1','stroke':'none'}); 
          loc = loc + 1 //loc -  
          object2 = circle[loc]
          addHover(object2,circle,loc)
          }
        if(loc == circle.length){alert('Circle is full');}
    }
</script>